{% load i18n %}

<div class="ui stackable two column grid">
    <div class="column">
        <div class="ui list">
            {% if venue.bookable %}
            <div class="header">
                {% trans 'Base price' %}
            </div>
            {{ venue.price }}
            {% endif %}
        </div>
    </div>
    <div class="column">
        <div class="ui list">
        </div>
    </div>
    <!-- <div class="header">{% trans 'Description' %}</div> -->
    <div>
        <div class="header">
            {% trans 'Description' %}
        </div>
        {{ venue.description|safe }}
    </div>
</div>