{% load i18n %}

<div id="venue-feed" class="ui stackable three column cards grid"></div>
<div class="ui one column stackable center aligned page grid">
    <button id="load-more" class="ui invisible green icon button">
        {% trans 'Load more' %}
        <i class="sync icon"></i>
    </button>
</div>
<div id="feed-loader" class="ui active centered inline loader"></div>


<script>
    var next = '';

    function load_feed(url, _feed_builder, append = false) {
        add_loader('#feed-loader');
        $.ajax({
            'url': url,
            'type': 'GET',
            'dataType': 'JSON'
        }).done(function (data) {
            var feed = _feed_builder(data.results);

            if (data.next) {
                $('#load-more').removeClass('invisible');
                next = data.next;
            } else {
                $('#load-more').addClass('invisible');
            }

            remove_loader('#feed-loader');

            if (append) {
                $('#venue-feed').append(feed);
            } else {
                $('#venue-feed').html(feed);
            }
            $('.thumbnail').on('load', function () {
                $('.placeholder').hide();
            });
            $('.fluid.card .image').dimmer({ on: 'hover' });
        });
    }
    function create_feed(params = null) {
        var query = "";
        if (params) {
            for (const [key, value] of Object.entries(params)) {
                console.log(key, value);
                query += key + '=' + value + '&';
            }
        }
        var url = "{% url 'api:venues' %}" + "?" + query;
        load_feed(url, build_feed);
    }

    $(document).ready(function () {
        $('#load-more').on('click', function () {
            load_feed(next, build_feed, true);
        });
    });
</script>