{% load i18n %}

<div id="feed-loader" class="ui active centered inline loader"></div>
<div id="venue-feed" class="ui stackable three column cards grid"></div>

<script id="venue-item-template" type="text/template">
    <div class="column">
        <a id='card' class="ui fluid card" href="%venue_link%">
            <div class="content">
                <img class="ui avatar image" src="%owner_thumbnail%"> %owner_name%
            </div>
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">{% trans 'Details' %}</div>
                        </div>
                    </div>
                </div>
                <img class="thumbnail" src="%venue_thumbnail%">
            </div>
            <div class="ui placeholder">
                <div class="square image"></div>
            </div>
            <div class="content">
                <div class="header">%name%</div>
                <div class="meta">
                    <p><i class="location arrow icon"></i> %location_name%</p>
                    <p><i class="map marker alternate icon"></i> %address_string%</p>
                </div>
            </div>
        </a>
    </div>
</script>

<script>
    function create_feed(name = null, id = null) {
        var template = document.getElementById("venue-item-template");
        var templateHtml = template.innerHTML;
        var params = [];
        var query = "";

        if (name !== null) {
            params.push('name=' + name);
        }

        if (id !== null) {
            params.push('id=' + id);
        }

        if (params.length > 0) {
            query = "?" + params[0];
            for (var i = 1; i < params.length; i++) {
                query += "&" + params[i];
            }
        }

        $.ajax({
            'url': "{% url 'api:venues' %}" + query,
            'type': 'GET',
            'dataType': 'JSON'
        }).done(function (data) {
            var feed = "";

            $.each(data, function (i, venue) {
                feed += templateHtml
                    .replace(/%venue_link%/g, venue['venue_link'])
                    .replace(/%owner_name%/g, venue.owner['name'])
                    .replace(/%owner_thumbnail%/g, venue.owner['thumbnail'])
                    .replace(/%venue_thumbnail%/g, venue['thumbnail'])
                    .replace(/%name%/g, venue['name'])
                    .replace(/%location_name%/g, venue.location.name)
                    .replace(/%address_string%/g, venue.location.address['address_string']);
            });

            remove_loader('#feed-loader');
            $('#venue-feed').html(feed);
            $('.thumbnail').on('load', function () {
                $('.placeholder').hide();
            });
            $('.fluid.card .image').dimmer({ on: 'hover' });
        });

    }
</script>