{% extends 'core/__base.html' %}
{% load i18n %}
{% load sekizai_tags %}

{% block content %}
<div class="ui segment">
    <h5>Filters <i class="filter icon"></i></h5>
    <form class="ui form" id="filter-form">
        <div class="ui icon input">
            <input id="search-venue" name="search_query" type="text" placeholder="{% trans 'search...' %}">
            <i class="search icon"></i>
        </div>
        <button class="ui right floated positive right labeled icon button" type="submit">
            {% trans 'filter' %}
            <i class="filter icon"></i>
        </button>
    </form>
</div>

{% include 'venues/_venue_feed.html' %}
{% addtoblock 'js' %}
<script>
    $(document).ready(function () {
        create_feed();

        // live search disabled
        // $('#search-venue').on('input', function () {
        //     var val = $(this).val().trim();
        //     val = val.replace(/\s+/g, '');

        //     if (val.length % 3 == 0) { //for checking 3 characters
        //         create_feed(val);
        //     }
        // });

        $('#filter-form').on('submit', function (e) {
            e.preventDefault();
            var query = $(this).find("input[name='search_query']").val();
            create_feed(query);
        })

    });
</script>
{% endaddtoblock %}
{% endblock %}