{% extends 'core/__base.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}
<link href="{% static 'fullcalendar/main.min.css' %}" rel="stylesheet">
<link href="{% static 'fullcalendar/daygrid/main.min.css' %}" rel="stylesheet">
<script src="{% static 'fullcalendar/main.min.js' %}"></script>
<script src="{% static 'fullcalendar/daygrid/main.min.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            events: "{% url 'api:venues_event_feed' room_id=room.id %}",
            plugins: ['dayGrid']
        });

        calendar.render();
    });
</script>
{% endblock %}

{% block content %}
<div class="ui stackable two column grid">
    <div class="column">
        <h1>{{ room.name }}</h1>
        <p>
            {{ room.description |safe }}
        </p>
    </div>
    <div class="column">
        {% if room.bookable %}
        <div id='calendar'></div>
        <div class="spacer">
            <a class="ui right labeled positive icon button" href="{% url 'venues:events_create' room_id=room.id %}">
                {% trans 'book' %}
                <i class="calendar alternate outline icon"></i>
            </a>
        </div>
        {% else %}
        <img class="ui fluid image" src="{{ room.thumbnail_original.url }}">
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}