{% extends 'core/__base.html' %}
{% load i18n %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
{% endblock %}
{% block content %}
<h1>
    {% trans 'create event' %}
</h1>

<form class="ui form" method="POST" enctype="multipart/form-data">
    {% include '_form.html' with form=venue_contract_form %}
    <div id="container">
        {% include '_form.html' with form=event_form %}
    </div>
    {% include 'core/_identity.html' with actor=actor %}
    <button class="ui positive right labeled icon button" type="submit">
        {% trans 'Check event' %}
        <i class="zoom-in icon"></i>
    </button>
</form>
{% endblock %}



{% block scripts %}
{{ event_form.media }}
<script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.min.js' %}"></script>
<script>
    function setEnd(currentDateTime) {
        end.datetimepicker({
            minDate: currentDateTime,
            defaultTime: currentDateTime,
            defaultDate: currentDateTime
        })
    }

    var locale = "{% get_current_language as LANG %}{{ LANG }}";
    jQuery.datetimepicker.setLocale(locale);
    var start = $('#id_dtstart').datetimepicker({
        onChangeDateTime: setEnd,
        step: 30,
        format: 'Y-m-d H:i',
        mask: true

    });
    var end = $('#id_dtend').datetimepicker({
        step: 30,
        format: 'Y-m-d H:i',
        mask: true,
    });
</script>
<script src="{% url 'core:jsi18n' %}"></script>
{{ event_form.media }}
<script>
    $(document).ready(function () {
        $('#container').bind('DOMSubtreeModified', function (e) {
            // Content change handler
            $('input[name="limit"]').prop('checked', true);
            $('.until-count').removeClass('disabled');
            $('input[name="until_count"]').prop('disabled', false);
            $('.date-field').prop('disabled', false);
        });
    })
</script>
{% endblock %}