{% extends 'core/__base.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
<script src="{% url 'core:jsi18n' %}"></script>
{{ event_form.media }}
{% endblock %}

{% block not_in_container %}
<div class="main container large">
    <div class="ui stackable two column grid">
        <div class="nine wide column">
            {% url 'venues:venue_details' venue_slug=venue.slug location_slug=venue.location.slug as url %}
            {% include '_back_button.html' with url=url %}
            <h1>
                {% trans 'Create event' %}
            </h1>

            <form class="ui form" method="POST" enctype="multipart/form-data">
                {% include '_form.html' with form=venue_contract_form %}
                <div id="container">
                    {% include '_form.html' with form=event_form %}
                </div>
                {% include 'core/_identity.html' with actor=actor %}
                <button class="ui positive right labeled icon button" type="submit">
                    {% trans 'Check event' %}
                    <i class="zoom-in icon"></i>
                </button>
            </form>
        </div>
        <div class="seven wide column">
            {% include 'venues/_venue_calendar.html' with venue=venue %}
            <div class="spacer">
                <div class="ui list">
                    <div class="item">
                        <div class="header">
                            {% trans 'Base price' %}
                        </div>
                        {{ venue.price }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block scripts %}
<script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.min.js' %}"></script>
<script>
    function setEnd(currentDateTime) {
        end.datetimepicker({
            minDate: currentDateTime,
            defaultTime: currentDateTime,
            defaultDate: currentDateTime
        })
    }

    var locale = "{% get_current_language as LANG %}{{ LANG }}";
    jQuery.datetimepicker.setLocale(locale);
    var start = $('#id_dtstart').datetimepicker({
        onChangeDateTime: setEnd,
        step: 30,
        format: 'Y-m-d H:i',
        mask: true

    });
    var end = $('#id_dtend').datetimepicker({
        step: 30,
        format: 'Y-m-d H:i',
        mask: true,
    });
</script>
<script>
    $(document).ready(function () {
        const targetNode = document.getElementById('container');

        const config = { attributes: false, childList: true, subtree: true };

        const callback = function (mutationsList, observer) {
            for (let mutation of mutationsList) {
                if (mutation.type === 'childList') {
                    for (let node of mutation.addedNodes) {
                        $(node).find('input[name="limit"]').prop('checked', true);
                        $(node).find('.until-count').removeClass('disabled');
                        $(node).find('input[name="until_count"]').prop('disabled', false);
                        $(node).find('.date-field').prop('disabled', false);

                        var date_limit = $(node).find('input[class="date-field"]');
                        var count_limmit = $(node).find('input[name="count"]');
                        $(node).find('li[class="until"]').find('input[name="until_count"]').on('click', function () {
                            date_limit.prop('required', true).removeClass('disabled');
                            count_limmit.prop('required', false).addClass('disabled');
                        });
                        $(node).find('li[class="count"]').find('input[name="until_count"]').on('click', function () {
                            date_limit.prop('required', false).addClass('disabled');
                            count_limmit.prop('required', true).removeClass('disabled');
                        });
                    }
                }
            }
        };

        const observer = new MutationObserver(callback);
        observer.observe(targetNode, config);
    });
</script>
{% endblock %}