/**
  *
  * semantic ui overrides   
  *
  */

.ui.dimmer {
  z-index: 10002 !important;
}

.ui.dimmer .ui.workaround.loader:before {
  border-color: rgba(0, 0, 0, 0.1) !important;
}

.ui.dimmer .ui.workaround.loader:after {
  border-color: #767676 transparent transparent !important;
}

.recurrence-widget {
  float: none !important;
}

.card {
  color: inherit !important;
}

.ui.message {
  margin: 0 0 1.5em 0 !important;
}

.pushable>.pusher {
  overflow: visible !important;
  min-height: inherit !important;
}

.ui.vertical.menu .item>.header:not(.ui) {
  margin: 0;
}

.fc-button-primary {
  background-color: white !important;
  color: rgba(0, 0, 0, 0.87) !important;
  border: 0 !important;
  font-size: 1.2em !important;
}

.ui.feed .event:hover {
  background: rgba(0, 0, 0, 0.05) !important;
}

.ui.floating.msg.label {
  top: -1.8em;
  margin: 0 0 0 -3.5em !important;
}

.ui.feed .event .read {
  display: none;
}

.ui.feed .event.not_read {
  background: rgb(242, 113, 28, 0.3);
}

.ui.pointing.dropdown>.menu {
  background-color: #ffffff;
  padding-right: 0;
}

/**
  *
  * Photoswipe 
  *
  */

.pswp {
  z-index: 10009 !important;
}

/**
  *
  * Tag specific   
  *
  */

body {
  overflow-y: scroll;
}

em {
  letter-spacing: 0.3px;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

h1 {
  margin-bottom: 1em;
}

td>a {
  display: block;
  width: 100%;
  height: 100%;
}

/**
  *
  * Navigation
  *
  */

.nav {
  margin-bottom: 3.2em;
}

.navigation-bar {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: fixed;
  padding: 0 1em 0 1em;
  background-color: white;
  width: 100%;
  line-height: 1.1;
  text-align: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  height: 3.2em;
  z-index: 1001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navigation-bar .left {
  float: left;
  padding-left: 0px;
  display: inherit;
}

.navigation-bar .right {
  float: right;
  padding-right: 0px;
  display: inherit;
}

.navigation-bar .left .item, .navigation-bar .right .item {
  /* position: relative; */
  padding: 0 1em 0 0;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  -webkit-tap-highlight-color: transparent;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: 0 0;
  text-transform: none;
  font-weight: 400;
  -webkit-transition: background 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
  transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
}

.saving {
  bottom: 0 !important;
  border: 0 solid transparent;
  height: 3.8em !important;
  background: #1b1c1d;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #ffffff !important;
}

.saving.navigation-bar>.left>.item .saving.navigation-bar>.right>.item {
  color: #ffffff !important;
}

.avatar {
  border-radius: 500rem;
  margin: 0 0.9em 0 0;
}

#main-menu-toggle {
  display: none;
  cursor: pointer;
  color: inherit;
}

.ui.sidebar {
  overflow: visible !important;
}

.ui.vertical.menu {
  position: fixed;
  transition: width 0.3s, left 0.3s;
  -webkit-box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.2);
  z-index: 600;
  width: 220px;
  top: 3.2em;
  bottom: 0;
  left: 0;
  margin: 0;
  border-radius: 0;
  border: 0;
}

.ui.vertical.menu .item .menu a.item.active {
  border-right-style: solid;
  border-right-color: #1678c2;
  border-radius: 0 !important;
  border-right-width: 0.25em;
}

.ui.vertical.menu .item .menu a.item.active2 {
  border-right-style: solid;
  border-right-color: #1678c2;
  border-radius: 0 !important;
  border-right-width: 0.25em;
}

.ui.vertical.sidebar.menu>.item>.header {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.collapsed> :not(.header) {
  display: none !important;
}

.admin.wrapper {
  margin-top: -3.2em;
  padding: 0 0 0 220px;
}

.admin-navigation {
  min-height: 2em;
}

.ui.vertical.menu .dropdown.item .menu {
  background: #1b1c1d !important;
}

.ui.vertical.menu .dropdown.item .menu * {
  color: #fff !important;
}

.back-up {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  transition: visibility 0s linear 0.5s, opacity 0.3s linear;
  -webkit-transition: visibility 0s linear 0.5s, opacity 0.3s linear;
}

/* contract states */

.p, .w {
  background-color: #fbbd08 !important;
  border-color: #fbbd08 !important;
}

.r {
  background-color: #21ba45 !important;
  border-color: #21ba45 !important;
}

.d {
  background-color: #db2828 !important;
  border-color: #db2828 !important;
}

.x, .c, .f {
  background-color: #e8e8e8 !important;
  border-color: #e8e8e8 !important;
}

/**
  *
  * Footer
  *
  */

.ui.footer {
  width: 100%;
  padding: 5em 0 2em 0;
}

.ui.vertical.footer {
  border-top: 1px solid #dddddd;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08) inset;
  background-color: #fafafa;
}

/**
  *
  * Elements   
  *
  */

.main.container {
  margin: 3em 0 8em 0;
  max-width: 1127px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 1.4em;
}

.main.container.large {
  max-width: 1700px !important;
}

.bold {
  font-weight: 700 !important;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.inline {
  display: inline;
}

.wrapper {
  width: 100%;
}

.tab {
  display: none;
}

.active.tab {
  display: block;
}

.main-map {
  width: 100%;
  height: 75vh;
}

.map {
  width: 100%;
  height: 35em;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.spacer {
  margin-top: 1em;
}

.location-image {
  width: 100%;
  height: 40vh;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
}

.section-container {
  margin: 2vh 0 3vh 0;
}

.padded-section-container {
  padding: 2vh 0 3vh 0 !important;
}

.indent {
  margin-left: 0.5em;
}

.indent2 {
  margin-left: 1em;
}

.conditional-form {
  margin: 0 0 1em;
}

.small-container {
  margin: 1.4em 0 0 0;
}

.summernote-div {
  width: 100%;
}

.note-frame {
  border-radius: 0.28571429rem;
}

.pagination {
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  background: #fff;
  font-weight: 400;
  border: 1px solid rgba(34, 36, 38, .15);
  -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
  border-radius: .28571429rem;
  min-height: 2.85714286em;
  padding-left: 0;
}

.pagination li {
  list-style: none;
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: 0 0;
  text-transform: none;
  color: rgba(0, 0, 0, .87);
  font-weight: 400;
  -webkit-transition: background .1s ease, color .1s ease, -webkit-box-shadow .1s ease;
  transition: background .1s ease, color .1s ease, -webkit-box-shadow .1s ease;
  transition: background .1s ease, box-shadow .1s ease, color .1s ease;
  transition: background .1s ease, box-shadow .1s ease, color .1s ease, -webkit-box-shadow .1s ease;
}

.pagination li::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background: rgba(34, 36, 38, .1);
}

.pagination li a {
  width: 100%;
  height: 100%;
  display: block;
  padding: .92857143em 1.14285714em;
  padding-top: 0.928571em;
}

.pagination li.active, .pagination li:hover {
  background: rgba(0, 0, 0, .05);
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, .95);
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/**
  *
  * Mobile
  *
  */

@media only screen and (max-width: 600px) {
  .account-layout {
    padding-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .collapsible>.item {
    display: none;
  }
  #main-menu-toggle {
    display: block;
  }
  #admin-sidebar-toggle {
    display: block !important;
  }
  .admin.wrapper {
    padding: 0 0 0 0;
  }
  #register-button {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #admin-sidebar {
    display: block !important;
    visibility: visible;
  }
  .admin.main.container {
    margin-left: 220px;
  }
}

/**
  *
  * dark mode   
  *
  */

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #272822;
    --bg-shade: #1f201a;
    --bg-contrast: #373844;
    --text-color: #ffffff;
    --line-color: #666;
    --green: #a6e22e;
    --red: #fb5f97;
    --orange: #fd971f;
    --teal: #66d9ef;
  }
  a, b, p, span {
    color: var(--text-color) !important;
  }
  h1, h2, h3, h4, h5, h6, label, strong, .header {
    color: var(--green) !important;
  }
  body, nav, .ui.card, .ui.sidebar, .ui.segment, .ui.table, .ui.dropdown, .ui.pointing.dropdown>.menu::after, .ui.modal {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    border-top: var(--line-color) !important;
  }
  input, textarea, select, th {
    background-color: var(--bg-contrast) !important;
    color: var(--text-color) !important;
  }
  /**
      * semantic 
      */
  .icon {
    color: var(--text-color) !important;
  }
  .ui.dropdown>.menu, .ui.icon.message, .ui.segment {
    background-color: var(--bg-contrast) !important;
  }
  div.item>a {
    color: var(--orange) !important;
  }
  .ui.item, .ui.section.divider {
    color: var(--text-color) !important;
  }
  .ui.card {
    box-shadow: 0 1px 3px 0 var(--line-color), 0 0 0 1px var(--line-color);
  }
  .ui.table {
    border: 1px solid var(--bg-contrast) !important;
  }
  .ui.table td {
    border-top-color: var(--bg-contrast) !important;
    border-bottom-color: var(--bg-contrast) !important;
  }
  .back.button {
    background-color: var(--orange) !important;
  }
  .navigation-bar, .ui.footer, .ui.dropdown {
    background-color: var(--bg-shade) !important;
  }
  tr.td:hover {
    color: var(--red) !important;
  }
  /**
      * leaflet 
      */
  .leaflet-control-zoom-in, .leaflet-control-zoom-out {
    background-color: var(--bg-contrast) !important;
  }
  .leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: var(--bg-contrast) !important;
  }
  .leaflet-control-attribution {
    background: rgba(100, 100, 100, 0.7) !important;
  }
  /** 
      * full calendar 
      */
  .fc-list-empty {
    margin-bottom: 2em;
  }
  .fc-today {
    background-color: var(--bg-contrast) !important;
  }
  .fc-widget-header, .fc-list-empty, .fc-button, .fc-button-primary {
    background-color: var(--bg-contrast) !important;
    color: var(--text-color) !important;
  }
  .fc-event, .fc-event-dot {
    background-color: var(--orange) !important;
    border-color: var(--orange) !important;
    color: var(--text-color) !important;
  }
}