{% extends 'control/__base.html' %}
{% load i18n %}

{% block admin_navigation %}
{% url 'control:items_manage' as url %}
{% include '_back_button.html' with url=url %}
<a class="ui right floated left labeled icon button"
    href="{% url 'items:details' owner_slug=item.owner.slug item_slug=item.slug %}">
    <i class="world icon"></i>
    {% trans 'Show on website' %}
</a>
{% endblock %}

{% block content %}
<h1>
    {% trans 'Edit item' %}
</h1>
<div class="section-container tab-content">
    {% trans 'Save' as action %}
    {% include 'items/control/_item_form.html' with venue_form=venue_form venue_procedure_form=venue_procedure_form action=action %}
</div>
{% endblock %}