{% extends 'admin/__base.html' %}
{% load i18n %}

{% block content %}
<h2>
    {% trans 'Create' %}
</h2>
<div class="section-container tab-content">
    <h3>
        {% trans 'Create room' %}
    </h3>
    <form class="ui form" method="POST" action="{{ url }}" enctype="multipart/form-data">
        {% include '_form.html' with form=room_form %}
        {% include 'core/_identity.html' %}
        <button class="ui positive right labeled icon button" type="submit">
            {% trans 'Create' %}
            <i class="users icon"></i>
        </button>
    </form>
</div>
{% endblock %}