{% extends 'admin/__base.html' %}
{% load i18n %}
{% load django_tables2 %}

{% block content %}
<h1>
    {% trans 'Manage' %}
</h1>
<div class="section-container tab-content">
    <h3>
        {% trans 'Your rooms' %}
    </h3>
    <div>
        {% if rooms_table %}
        {% render_table rooms_table %}
        {% else %}
        <p>
            {% trans 'No associated rooms found' %}
        </p>
        <a class="ui positive right labeled icon button" href="{% url 'panel:rooms_create' %}">
            {% trans 'Create one!' %}
            <i class="child icon"></i>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}