alias dinit="sudo docker-compose exec  app python src/manage.py loaddata full"
alias dshell="sudo docker-compose exec app python src/manage.py shell"
alias dmanage="sudo docker-compose exec app python src/manage.py"
alias dvisu="sudo dmanage graph_models --pydot -a -g -o model_visualized.svg"
alias dtest="sudo docker-compose exec app bash -c 'cd src && python manage.py test --verbosity 2'"
alias dcov="sudo docker-compose exec app bash -c 'cd src && coverage run manage.py test -v 2 && coverage html -d ../cov && coverage report'"
