alias dinit="docker-compose exec  app python src/manage.py init_demo --full"
alias dshell="docker-compose exec app python src/manage.py shell"
alias dmanage="docker-compose exec app python src/manage.py"
alias dvisu="dmanage graph_models --pydot -a -g -o model_visualized.svg"
alias dtest="docker-compose exec app bash -c 'cd src && python manage.py test --verbosity 2'"
alias dcov="docker-compose exec app bash -c 'cd src && coverage run manage.py test -v 2 && coverage html -d ../cov && coverage report'"
