[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "*" 
attrs = "*"   
autobahn = "*"
certifi = "*" 
cffi = "*"
chardet = "*" 
click = "*"   
constantly = "*"  
coverage = "*"
cryptography = "*"
daphne = "*"  
django-appconf = "*"  
django-extensions = "*"   
django-imagekit = "*" 
django-recurrence = "*"   
django-rq = "*"   
django-tables2 = "*"  
djangorestframework = "*" 
hyperlink = "*"   
idna = "*"
incremental = "*" 
iso3166 = "*" 
pilkit = "*"  
pip-autoremove = "*"  
psycopg2-binary = "*" 
pyasn1 = "*"  
pyasn1-modules = "*"  
pycparser = "*"   
pydot = "*"   
pyparsing = "*"   
python-dateutil = "*" 
pytz = "*"
redis = "*"   
requests = "*"
rq = "*"  
schwifty = "*"
six = "*" 
sqlparse = "*"
txaio = "*"   
urllib3 = "*" 
Automat = "*" 
Django = "*"  
Pillow = "*"  
PyHamcrest = "*"  
pyOpenSSL = "*"   
service_identity = "*"
Twisted = "*" 
zope = {interface = "*"}
django-summernote = {git = "https://github.com/summernote/django-summernote.git",ref = "702b574920342766f56262725d87125719156878"}
django-redis = "*"

[requires]
python_version = "*"
