[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
asgiref = "*" 
attrs = "*"   
autobahn = "*"
certifi = "*" 
cffi = "*"
chardet = "*" 
click = "*"   
constantly = "*"  
coverage = "*"
cryptography = "*"
daphne = "*"  
django-appconf = "*"  
django-extensions = "*"   
django-imagekit = "*" 
django-recurrence = "*"   
django-rq = "*"   
django-tables2 = "*"  
djangorestframework = "*" 
hyperlink = "*"   
idna = "*"
incremental = "*" 
iso3166 = "*" 
pilkit = "*"  
psycopg2-binary = "*" 
pyasn1 = "*"  
pyasn1-modules = "*"  
pycparser = "*"   
pydot = "*"   
pyparsing = "*"   
python-dateutil = "*" 
pytz = "*"
redis = "*"   
requests = "==2.22"
rq = "*"  
schwifty = "*"
six = "*" 
sqlparse = "*"
txaio = "*"   
urllib3 = "*" 
Automat = "*" 
Django = "*"  
Pillow = "*"  
PyHamcrest = "*"  
pyOpenSSL = "*"   
service_identity = "*"
Twisted = "*" 
zope = {interface = "*"}
django-summernote = {git = "https://github.com/campfireman/django-summernote.git"}
django-redis = "*"
django-sekizai = "*"
pycountry = "*"
django-countries = "*"
rq-scheduler = "*"
django-model-utils = "*"
django-ipware = "*"
django-datetimepicker = {git = "https://github.com/escodebar/django-datetimepicker.git"}
bleach = "*"
django-formset-js-improved = "*"
reportlab = "*"

[requires]
python_version = "*"
