-i https://pypi.org/simple
accesscontrol==4.1
acquisition==4.6
asgiref==3.2.7
attrs==19.3.0
authencoding==4.1
autobahn==20.4.2
automat==20.2.0
beautifulsoup4==4.9.0
bleach==3.1.4
btrees==4.7.2
certifi==2020.4.5.1
cffi==1.14.0
chameleon==3.7.0
chardet==3.0.4
click==7.1.1
constantly==15.1.0
coverage==5.1
croniter==0.3.31
cryptography==2.9
daphne==2.4.1
datetime==4.3
django-appconf==1.0.4
django-classy-tags==1.0.0
django-countries==6.1.2
django-extensions==2.2.9
django-formset-js-improved==0.5.0.2
django-imagekit==4.0.2
django-ipware==2.1.0
django-jquery-js==3.1.1
django-model-utils==4.0.0
django-recurrence==1.10.2
django-redis==4.11.0
django-rq==2.3.1
django-sekizai==1.1.0
django-tables2==2.3.1
django==3.0.5
djangorestframework==3.11.0
documenttemplate==3.2.2
extensionclass==4.4
git+https://github.com/campfireman/django-summernote.git@2ec3d9b8f646f10acfc8131990deb98b44943254#egg=django-summernote
git+https://github.com/escodebar/django-datetimepicker.git@6ab8ed0be1beae0cf36cd888bc33426776796ce6#egg=django-datetimepicker
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
iso3166==1.0.1
multimapping==4.1
pastedeploy==2.1.0
persistence==3.0
persistent==4.6.4
pilkit==2.0
pillow==7.1.1
psycopg2-binary==2.8.5
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycountry==19.8.18
pycparser==2.20
pydot==1.4.1
pyhamcrest==2.0.2
pyopenssl==19.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-gettext==4.0
pytz==2019.3
redis==3.4.1
reportlab==3.5.42
requests==2.22
restrictedpython==5.0
roman==3.2
rq-scheduler==0.9.1
rq==1.3.0
schwifty==2020.4.1
service-identity==18.1.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
transaction==3.0.0
twisted[tls]==20.3.0
txaio==20.4.1
urllib3==1.25.8
waitress==1.4.3
webencodings==0.5.1
webob==1.8.6
webtest==2.0.34
wsgiproxy2==0.4.6
z3c.pt==3.3.0
zc.lockfile==2.0
zconfig==3.5.0
zexceptions==4.1
zodb==5.5.1
zodbpickle==2.0.0
zope.annotation==4.7.0
zope.browser==2.3
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.3.1
zope.component==4.6.1
zope.configuration==4.4.0
zope.container==4.4.0
zope.contentprovider==4.2.1
zope.contenttype==4.5.0
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.event==4.4
zope.exceptions==4.3
zope.filerepresentation==5.0.0
zope.globalrequest==1.5
zope.hookable==5.0.1
zope.i18n[zcml]==4.7.0
zope.i18nmessageid==5.0.1
zope.interface==5.1.0
zope.lifecycleevent==4.3
zope.location==4.2
zope.pagetemplate==4.5.0
zope.processlifetime==2.3.0
zope.proxy==4.3.5
zope.ptresource==4.2.0
zope.publisher==5.2.0
zope.schema==6.0.0
zope.security==5.1.1
zope.sequencesort==4.1.2
zope.site==4.3.0
zope.size==4.3
zope.structuredtext==4.3
zope.tal==4.4
zope.tales==5.0.2
zope.testbrowser==5.5.1
zope.testing==4.7
zope.traversing==4.4.1
zope.viewlet==4.2.1
zope==4.4
