asgiref==3.2.3
attrs==19.3.0
autobahn==19.11.1
Automat==0.8.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
constantly==15.1.0
coverage==4.5.4
cryptography==2.8
daphne==2.4.0
Django==3.0
django-appconf==1.0.3
django-extensions==2.2.5
django-imagekit==4.0.2
django-tables2==2.2.1
djangorestframework==3.10.3
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
iso3166==1.0
pilkit==2.0
Pillow==6.2.1
pip-autoremove==0.9.1
psycopg2-binary==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
pydot==1.4.1
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pyparsing==2.4.5
pytz==2019.3
requests==2.22.0
schwifty==2018.9.1
service-identity==18.1.0
six==1.13.0
sqlparse==0.3.0
Twisted==19.10.0
txaio==18.8.1
urllib3==1.25.7
zope.interface==4.7.1
