{% extends "__base.html" %}
{% load i18n %}

{% block content %}

<h2 class="ui header">
    {% trans 'Settings' %}
</h2>
<div class="ui secondary pointing menu">
    <a class="active item">
        Account
    </a>
    <a class="item">
        Info
    </a>
    <a class="item">
        Organisationen
    </a>
</div>
<div>
    {{ user.info.info_text }}
    <h3>{{ user.first_name }} {{user.last_name }}</h3>
    <form class="ui form" method="POST">
        {% include "_form.html" with form=form %}
        <p>
            <button class="ui button green" type="submit">
                {% trans 'Save' %}
            </button>
        </p>
    </form>
</div>

{% endblock %}