<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <!-- <div class="ui stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted teal header">
                    Info
                </h4>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted orange header">
                    Software
                </h4>
            </div>
        </div> -->
        <div class="ui section divider"></div>
        <div class="ui horizontal small divided link list">
            <a class="item" href="https://gitlab.com/resource-hub/resource-hub" target="_blank">
                <p><img src="/static/logo.png" class="ui centered mini image"></p>
                <p>Resource Hub
                    (GNU AGPLv3)</p>
            </a>
        </div>
    </div>
</div>