{% load static %}
<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <!-- <div class="ui stackable grid">
            <div class="three wide column">
                <h4 class="ui header">
                    Info
                </h4>

            </div>
            <div class="three wide column">
                <h4 class="ui header">
                    Software
                </h4>
            </div>
        </div>
        <div class="ui section divider"></div> -->
        <div class="ui horizontal small divided link list">
            <a class="item" href="https://gitlab.com/resource-hub/resource-hub" target="_blank">
                <p><img width="150" height="auto" src="{% static 'logo.png' %}" class="ui centered image"></p>
                <p>GNU AGPLv3</p>
            </a>
        </div>
    </div>
</div>