{% load i18n %}
{% load staticfiles %}

<nav class="navigation-bar">
    <div class="left">
        <!-- <a class="item">
            <img src="{% static 'logo.png' %}" width="25" height="25">
        </a> -->
        <a class="item" href="{% url 'core:index' %}">
            {% trans 'Home' %}
        </a>
    </div>
    <div class="right">

        {% if user.is_authenticated %}
        <div class="ui pointing dropdown">
            <span>
                <img width="30" height="30" src="
                        {% if user.info.thumbnail_small %}
                        {{ user.info.thumbnail_small.url }}
                        {% else %}
                        {% static 'default.png' %}
                        {% endif %}
                        ">
                {{ user.first_name }}
            </span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'core:admin' %}"> <i class="sliders horizontal icon"></i> Admin</a>
                <a class="item" href="{% url 'core:admin' %}"><i class="address card outline icon"></i> Change role</a>
                <div class="divider"></div>
                <div class="item">
                    <a class="ui red button" href="{% url 'core:logout' %}">
                        {% trans 'Logout' %}
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="item">
            <a class="small ui primary button" href="{% url 'core:register' %}">
                {% trans 'Register' %}
            </a>

            <a class="small ui positive button" href="{% url 'core:login' %}">
                {% trans 'Login' %}
            </a>
        </div>
        {% endif %}
    </div>
</nav>