{% load i18n %}
{% load staticfiles %}

<nav class="navigation-bar">
    <div class="left">
        <!-- <a class="item">
            <img src="{% static 'logo.png' %}" width="25" height="25">
        </a> -->
        <a class="item" href="{% url 'core:home' %}">
            {% trans 'Home' %}
        </a>
        <a class="item" href="{% url 'rooms:index' %}">
            {% trans 'Rooms' %}
        </a>
        <div class="ui pointing dropdown item">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_language_info for LANGUAGE_CODE as CURRENT_LANG %}
            <span class="text">{{ CURRENT_LANG.name_local }}</span>
            <i class="dropdown icon"></i>
            <div class="menu item">
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}"
                    class="lang item {% if language.code == LANGUAGE_CODE %}active selected{% endif %}">
                    <span class="text">{{ language.name_local }}</span>
                </option>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <div class="right">
        {% if user.is_authenticated %}
        <div>
            <img width="30" height="30" src="
                {% if actor.info.thumbnail_small %}
                {{ actor.info.thumbnail_small.url }}
                {% else %}
                {% static 'default.png' %}
                {% endif %}
                ">
        </div>
        <div class="ui pointing dropdown item" style="margin-top: 9px;">
            <span>
                {{ actor.name }}
            </span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'core:admin' %}"> <i class="sliders horizontal icon"></i> Admin</a>
                <a id="role" class="item"><i class="address card outline icon"></i> Change role</a>
                <div class="divider"></div>
                <div class="item">
                    <a class="ui red button" href="{% url 'core:logout' %}">
                        {% trans 'Logout' %}
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="item">
            <a class="small ui primary button" href="{% url 'core:register' %}">
                {% trans 'Register' %}
            </a>

            <a class="small ui positive button" href="{% url 'core:login' %}">
                {% trans 'Login' %}
            </a>
        </div>
        {% endif %}
    </div>
</nav>

<form id="language-form" action="{% url 'core:set_language' %}" method="post">
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <input id="language" type="hidden" name="language">
    {% csrf_token %}
</form>

<div id="select-roles" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        {% trans 'Choose role' %}
    </div>

    <div class="content">
        <div class="description">
            <div class="ui header">
                {% trans '' %}
            </div>
            <div id="role-loader" class="ui active workaround centered inline loader"></div>
            <form id="role-form" class="ui hidden form" action="{% url 'core:set_role' %}" method="POST">
                {% csrf_token %}
                <div class="field">
                    <label for="actor">{% trans 'Role' %}</label>
                    <select id="role-list" name="actor_id"></select>
                </div>
                <button type="submit" class="ui positive right labeled icon button">
                    {% trans 'Choose' %}
                    <i class="checkmark icon"></i>
                </button>
            </form>
        </div>
    </div>
</div>