{% load i18n %}

<div class="item">
    <div class="header">
        {% trans 'Venues' %}
    </div>
    <div class="menu">
        <a class="item
            {% if '/venues/manage' in request.path %}
                active
            {% endif %}
        " href="{% url 'control:venues_manage' %}">
            {% trans 'manage' %}
        </a>
        <a class="item
            {% if '/venues/create' in request.path %}
                active
            {% endif %}
        " href="{% url 'control:venues_create' %}">
            {% trans 'create' %}
        </a>
    </div>
</div>