{% extends 'core/__base.html' %}
{% load i18n %}

{% block content %}
<div>
    <form class="ui form" method="POST" action="{% url 'rooms:events_create' %}">
        {% csrf_token %}
        {% include '_form.html' with form=event_form %}
        <br>
        <div class="field">
            <button class="ui positive right labeled icon button" type="submit">
                {% trans 'Create Event' %}
                <i class="calendar alternate outline icon"></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% url 'core:jsi18n' %}"></script>
{{ event_form.media }}
{% endblock %}