{% extends 'core/__base.html' %}
{% load i18n %}

{% block content %}
<div class="ui segment">
    <h5>Filters <i class="filter icon"></i></h5>
    <div class="ui icon input">
        <input id="search-room" type="text" placeholder="{% trans 'Search...' %}">
        <i class="search icon"></i>
    </div>
</div>
<div id="feed-loader" class="ui active centered inline loader"></div>
<div id="room-feed" class="ui stackable three column link cards grid">

</div>
{% endblock %}

{% block scripts %}
<script id="room-item-template" type="text/template">
    <div class="column">
        <a id='card' class="ui fluid card" href="%room_link%" target="_blank">
            <div class="content">
                <img class="ui avatar image" src="%owner_thumbnail%"> %owner_name%
            </div>
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">{% trans 'Details' %}</div>
                        </div>
                    </div>
                </div>
                <img class="thumbnail" src="%room_thumbnail%">
            </div>
            <div class="ui placeholder">
                <div class="square image"></div>
            </div>
            <div class="content">
                <div class="header">%name%</div>
                <p>%description%</p>
            </div>
        </a>
    </div>
</script>

<script>
    $(document).ready(() => {
        function create_feed(data) {
            var template = document.getElementById("room-item-template");
            var templateHtml = template.innerHTML;
            $.ajax({
                'url': "{% url 'rooms:api_room_feed' %}",
                'type': 'GET',
                'dataType': 'JSON'
            }).done((data) => {
                var feed = "";

                for (i in data) {
                    feed += templateHtml
                        .replace(/%room_link%/g, data[i]['room_link'])
                        .replace(/%owner_name%/g, data[i].owner['name'])
                        .replace(/%owner_thumbnail%/g, data[i].owner['thumbnail'])
                        .replace(/%room_thumbnail%/g, data[i]['thumbnail'])
                        .replace(/%name%/g, data[i]['name'])
                        .replace(/%description%/g, data[i]['description_short']);
                }
                remove_loader('#feed-loader');
                $('#room-feed').html(feed);
                $('.thumbnail').on('load', () => {
                    $('.placeholder').hide();
                });
                $('.fluid.card .image').dimmer({ on: 'hover' });
            });

        }

        create_feed();

        $('#search-room').on('input', () => {
            var val = $(this).val().trim();
            val = val.replace(/\s+/g, '');

            if (val.length % 3 == 0) { //for checking 3 characters
                console.log('yes');
            }
        });

    })
</script>
{% endblock %}