{% extends 'core/__base.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}
<link href="{% static 'fullcalendar/main.min.css' %}" rel="stylesheet">
<link href="{% static 'fullcalendar/daygrid/main.min.css' %}" rel="stylesheet">
<script src="{% static 'fullcalendar/main.min.js' %}"></script>
<script src="{% static 'fullcalendar/daygrid/main.min.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['dayGrid']
        });

        calendar.render();
    });
</script>
{% endblock %}

{% block content %}
<div class="ui stackable two column grid">
    <div class="column">
        <h2>{{ room.name }}</h2>
        <p>
            {{ room.description |safe }}
        </p>
    </div>
    <div class="column">
        <div id='calendar'></div>
        <div class="spacer">
            <a class="ui right labeled positive icon button" href="{% url 'rooms:events_create' room_id=room.id %}">
                {% trans 'Book' %}
                <i class="calendar alternate outline icon"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}