{% extends 'core/__base.html' %}
{% load i18n %}

{% block content %}
<h1>
    {% trans 'Create event' %}
</h1>
<form class="ui form" method="POST" enctype="multipart/form-data">
    {% include '_form.html' with form=event_form %}
    {% include 'core/_identity.html' with actor=actor %}
    <button class="ui positive right labeled icon button" type="submit">
        {% trans 'Create Event' %}
        <i class="calendar plus outline icon"></i>
    </button>
</form>
{% endblock %}

{% block scripts %}
<script src="{% url 'core:jsi18n' %}"></script>
{{ event_form.media }}
{% endblock %}