{% load i18n %}
{% load sekizai_tags %}

{% include '_block_feed.html' with blocks='three' %}

{% addtoblock 'js' %}
<script id="template" type="text/template">
    <div class="column">
        <a id='card' class="ui fluid card" href="%link%">
            <div class="ui %state% top attached label">%state_display%</div>
            <div class="content">
                <div class="header">%type_name%</div>
                <div class="meta">
                    <span class="date">{% trans 'created at' %} %created_at%</span>
                </div>
            </div>
        </a>
    </div>
</script>
<script>
    function render_feed(data) {
        var template = document.getElementById("template");
        var templateHtml = template.innerHTML;
        var feed = "";

        $.each(data, function (i, contract) {
            feed += templateHtml
                .replace(/%type_name%/g, contract['type_name'])
                .replace(/%state%/g, contract['state'])
                .replace(/%state_display%/g, contract['state_display'])
                .replace(/%link%/g, contract['link'])
                .replace(/%created_at%/g, contract['created_at'])
                .replace(/%creditor_name%/g, contract.creditor['name'])
                .replace(/%creditor_thumbnail%/g, contract.creditor['thumbnail'])
        });
        return feed;
    }
    $(document).ready(function () {
        create_feed("{% url 'api:contracts_list' %}", { type: '{{ type }}' });
    });
</script>
{% endaddtoblock %}