{% extends "control/__base.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block admin-navigation %}
{% url 'control:finance_contracts_credited' as url %}
{% include '_back_button.html' with url=url %}
{% endblock %}

{% block content %}
<h1>{% trans 'Contract details' %} <a class="ui {{ contract.state }} tag label">{{ contract.get_state_display }}</a>
</h1>
{% if contract.state == CONTRACT_STATE.PENDING and is_debitor %}
<div class="ui segment">
    <div class="ui tiny red right floated statistic">
        <div id="timer" class="value" style="margin-top: 0 !important; line-height: inherit;">
            {{ timer }}
        </div>
    </div>
    <p class="">
        <i class="info circle icon"></i>
        {% trans 'The contract is still pending. Until confirmation, cancellation or expiration the items will appear as booked.'  %}
    </p>
</div>
{% endif %}
{% if contract.state == CONTRACT_STATE.WAITING and not is_debitor %}
<div class="ui segment">
    <i class="info circle icon"></i>
    {% trans 'The contract is waiting. You can either accept or decline the offer.'  %}
</div>
{% endif %}

<h2>{{ contract.verbose_name }}</h2>
<div class="ui grid">
    <div class="ui eight wide column">
        <div class="ui tiny header">{% trans 'Creditor' %}</div>
        {% include 'core/_actor_profile_small.html' with actor=contract.creditor %}
    </div>
    <div class="ui eight wide column">
        <div class="ui tiny header">{% trans 'Debitor' %}</div>
        {% include 'core/_actor_profile_small.html' with actor=contract.debitor %}
    </div>
</div>
<div class="section-container">
    {{ contract.overview }}
</div>
<div class="section-container">
    {% if contract.claim_table %}
    <h2>{% trans 'Claims' %}</h2>
    {% render_table contract.claim_table %}
    {% endif %}
    {% if contract.payment_method %}
    <h3>{% trans 'Payment method' %}</h3>
    <div class="ui list">
        <div class="item">
            <div class="header">
                {% trans 'Name' %}
            </div>
            {{ contract.payment_method.verbose_name }}
        </div>
        <div class="item">
            <div class="header">
                {% trans 'Prepayment' %}
            </div>
            {{ contract.payment_method.is_prepayment }}
        </div>
        <div class="item">
            <div class="header">
                {% trans 'Settlement interval' %}
            </div>
            {{ contract.contract_procedure.settlement_interval }} {% trans 'days' %}
        </div>
    </div>
    {% endif %}
    {% if contract.contract_procedure %}
    <h3>{% trans 'Terms and Conditions' %}</h3>
    <div class="ui accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            <b>{% trans 'show' %}</b>
        </div>
        <div class="content">
            {{ contract.terms_and_conditions|safe }}
        </div>
    </div>
    {% endif %}
</div>
{% if contract.state == CONTRACT_STATE.WAITING and not is_debitor %}
{% include 'core/_identity.html' with actor=actor %}
<form id="choices" class="small-container" method="POST">
    {% csrf_token %}
    <button class="ui negative right labeled icon button" name="choice" value="decline" type="submit">
        {% trans 'Decline' %}
        <i class="close icon"></i>
    </button>
    <button class="ui positive right labeled right floated icon button" name="choice" value="accept" type=" submit">
        {% trans 'Accept' %}
        <i class="check icon"></i>
    </button>
</form>
{% endif %}

{% if contract.state == CONTRACT_STATE.RUNNING %}
{% include 'core/_identity.html' with actor=actor %}
<form id="choices" class="small-container" method="POST">
    {% csrf_token %}
    <button class="ui red right labeled right floated icon button" name="choice" value="terminate" type="submit">
        {% trans 'Terminate' %}
        <i class="times icon"></i>
    </button>
</form>
{% endif %}
{% if contract.state == CONTRACT_STATE.PENDING and is_debitor %}
{% include 'core/_identity.html' with actor=actor %}
<form id="choices" class="small-container" method="POST">
    {% csrf_token %}
    <div class="ui slider checkbox">
        <input type="checkbox" name="terms" required>
        <label for="terms">
            <b>
                {% trans 'I fully understand and agree to the given terms and conditions.' %}
            </b>
        </label>
    </div>
    <div class="section-container">
        <button class="ui negative right labeled icon button" name="choice" value="cancel" type="submit">
            {% trans 'Cancel' %}
            <i class="close icon"></i>
        </button>
        <button class="ui positive right labeled right floated icon button" name="choice" value="confirm" type="submit">
            {% trans 'Confirm' %}
            <i class="check icon"></i>
        </button>
    </div>
</form>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        if ($('#timer').length) {
            const START = $('#timer').text().trim().replace(/(\r\n|\n|\r)/gm, "");
            let time = START.split(':').map(function (x) {
                return parseInt(x);
            });

            let x = setInterval(function () {
                time[2] = time[2] - 1;
                if (time[2] < 0) {
                    time[2] = 59;
                    time[1] = time[1] - 1;
                }
                if (time[1] < 0) {
                    if (time[0] - 1 < 0) {
                        clearInterval(x);
                        $('#choices').hide();
                        return;
                    } else {
                        time[0] = time[0] - 1;
                        time[1] = time[1] = 59
                    }
                }
                $('#timer').text(time_to_str(time));

            }, 1000);
            function time_to_str(time) {
                return (
                    String(time[0]).padStart(2, '0') + ':' +
                    String(time[1]).padStart(2, '0') + ':' +
                    String(time[2]).padStart(2, '0')
                );
            }
        }
    });
</script>
<script language='javascript'>
    $(document).ready(function () {
        $('.ui.accordion').accordion();
    });
</script>
{% endblock %}