{% extends "control/__base.html" %}
{% load i18n %}

{% block content %}
<div>
    <div class="ui placeholder segment">
        <div class="ui icon header">
            <i class="hand peace outline icon"></i>
            Hey, {{ user.first_name }}! {% trans 'what do you want to do?' %}
        </div>
    </div>
    {% trans 'This is the the control section. Under the various navigation points on the left you can customize settings and create items.' as text %}
    {% include '_info.html' with text=text %}
</div>
{% endblock %}