{% extends 'control/__base.html' %}
{% load i18n %}
{% load sekizai_tags %}

{% block admin-navigation %}
<div id="mark_all_read" class="ui right floated icon button">
    <i class="check icon"></i>
    {% trans 'mark all read' %}
</div>
{% endblock %}

{% block content %}
<h1>{% trans 'Notifications' %}</h1>
{% include '_block_feed.html' with custom_class='ui feed' %}

{% addtoblock 'js' %}
<script id="action_template" type="text/template">
    <div class="event %is_read%" pk="%pk%">
        <div class="label" style="cursor: pointer;" onclick="show_notification('%link%', '%pk%');">
            <i class="bolt icon"></i>
        </div>
        <div class="content">
            <div class="summary" style="cursor: pointer;" onclick="show_notification('%link%', '%pk%');">
                <span>%sender_name%</span> <span>%action%</span> <span>%target%</span>
                <div class="date">%created_at%</div>
            </div>
            <div class="meta">
                <a class="mark_read like %is_read%" pk="%pk%">
                    <i class="check icon"></i>
                    {% trans 'mark read' %}
                </a>
            </div>
        </div>
    </div>
</script>
<script id="info_template" type="text/template">
    <div class="event %is_read%" pk="%pk%">
        <div class="label" style="cursor: pointer;" onclick="show_notification('%link%', '%pk%');">
            <i class="lightbulb outline icon"></i>
        </div>
        <div class="content">
            <div class="summary" style="cursor: pointer;" onclick="show_notification('%link%', '%pk%');">
                <span>%message%</span> 
                <div class="date">%created_at%</div>
            </div>
            <div class="meta">
                <a class="mark_read like %is_read%" pk="%pk%">
                    <i class="check icon"></i>
                    {% trans 'mark read' %}
                </a>
            </div>
        </div>
    </div>
</script>
<script>
    function show_notification(link, pk) {
        mark_read(pk, false, function () {
            window.location = link;
        })
    }
    function mark_read(pk, all = false, _callback = null) {
        var csrftoken = getCookie('csrftoken');
        var data = all ? "" : {
            pk: pk,
        }
        $.ajax({
            url: "{% url 'api:notifications_mark_read' %}",
            type: "PUT",
            dataType: "JSON",
            data: data,
            headers: { 'X-CSRFToken': csrftoken },
        }).done(function (data) {
            update_notification_indicator();
            button = all ? $('.mark_read') : $('a[pk=' + pk + ']');
            container = all ? $('.event') : $('div[pk=' + pk + ']');
            button.hide();
            container.removeClass('not_read');
            if (_callback) {
                return _callback()
            } else {
                return _callback
            }
        });
    }
    function render_feed(data) {
        var actionTemplate = document.getElementById("action_template").innerHTML;
        var infoTemplate = document.getElementById("info_template").innerHTML;
        var feed = '';
        $.each(data, function (i, notification) {
            var read_flag = notification['is_read'] ? 'read' : 'not_read';
            console.log(notification)
            if (notification['typ'] == 'i') {
                var template = infoTemplate
                    .replace(/%message%/g, notification['message']);
            } else {
                var template = actionTemplate
                    .replace(/%sender_name%/g, notification['sender'].name)
            }
            feed += template
                .replace(/%pk%/g, notification['pk'])
                .replace(/%action%/g, notification['action'])
                .replace(/%target%/g, notification['target'])
                .replace(/%link%/g, notification['link'])
                .replace(/%is_read%/g, read_flag)
                .replace(/%created_at%/g, notification['created_at'])
        });
        return feed;
    }
    function feed_listeners() {
        $('.mark_read').on('click', function () {
            var pk = $(this).attr('pk');
            mark_read(pk);
        });
    }
    $(document).ready(function () {
        create_feed("{% url 'api:notifications_list' %}");

        $('#mark_all_read').on('click', function () {
            $(this).prop('disabled', true);
            mark_read(null, true);
        })
    });
</script>
{% endaddtoblock %}
{% endblock %}