{% extends "control/__base.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block admin-navigation %}
{% url 'control:organizations_profile' organization_id=organization.id as url %}
{% include '_back_button.html' with url=url %}
{% endblock %}

{% block content %}
{% url 'api:organizations_members_change' organization_pk=organization.pk as url %}
<div class="section-container tab-content">
    <h1>
        {{ organization.name }} {% trans 'members' %}
        <a class="ui labeled icon right floated green button"
            href="{% url 'control:organizations_members_add' organization_id=organization.id %}">
            <i class="plus icon"></i>
            {% trans 'add' %}
        </a>
    </h1>
    <div>
        {% if table %}
        {% render_table table %}
        {% include '_editable_table.html' with url=url %}
        {% else %}
        <p>
            {% trans 'no associated members found' %}
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}