{% extends "control/__base.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block admin-navigation %}
{% url 'control:organizations_profile' organization_id=organization.id as url %}
{% include '_back_button.html' with url=url %}
{% endblock %}

{% block content %}
<h1>
    {{ organization.name }}
</h1>

<div class="section-container tab-content">
    <div>
        <a class="ui labeled icon right floated green button"
            href="{% url 'control:organizations_members_add' organization_id=organization.id %}">
            <i class="plus icon"></i>
            {% trans 'add' %}
        </a>
        <h3 class="inline">
            {% trans 'members' %}
        </h3>

    </div>
    <div>
        {% if members_table %}
        {% render_table members_table %}
        {% else %}
        <p>
            {% trans 'no associated members found' %}
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('.user').on('input', function (e) {
        e.preventDefault();
        //select row and table
        var row = $(this);

        //get data from hidden input fields


        var values = {

        };

        //save updated values to object
        if (updates.hasOwnProperty(pid)) {
            updates[pid] = values;
        } else {
            updates = Object.assign({ [pid]: values }, updates)
        }

        //display save button
        if ($('#save-btn').hasClass('no-display')) {
            $('#save-btn').removeClass('no-display');
        }

    });
</script>
{% endblock %}