{% extends "control/__base.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block admin_navigation %}
{% url 'control:organizations_members' organization_id=organization.id as url %}
{% include '_back_button.html' with url=url %}
{% endblock %}

{% block content %}
<h1>
    {% blocktrans with organization=organization.name %}
    Invite person to {{ organization }}
    {% endblocktrans %}
</h1>
<div class="section-container tab-content">
    <form class="ui form" method="POST" action="">
        {% include "_form.html" with form=text_form %}
        <div class="field">
            <label>{% trans 'Invitations' %}</label>
            {% include "_formset.html" with formset=invitation_formset %}
        </div>
        <div class="section-container">
            <button class="ui positive right labeled icon button" type="submit">
                {% trans 'Invite' %}
                <i class="mail icon"></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('.ui.search')
        .search({
            minCharacters: 2,
            apiSettings: {
                onResponse: function (result) {
                    return { results: Object.values(result) };
                },
                url: '{% url "api:search_users" %}?search={query}'
            },
            fields: {
                title: 'username',
                description: 'full_name',
                url: 'html_url'
            }
        })
        ; </script>
{% endblock %}