{% load static %}
{% load sekizai_tags %}
{% load i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">

<head>
    {% block meta_tags %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    <title>{% if request.META.HTTP_HOST == 'egons-verleihde' %}Egons Verleih{% else %}Resource Hub{% endif %}</title>
    <meta>{{ request.META.HTTP_HOST }}</meta>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "semantic/semantic.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script src="{% static "jquery/jquery.min.js" %}"></script>
    <script src="{% static "js/utils.js" %}"></script>
    {% endblock %}
    {% block extra_head %}
    {% endblock %}
    {%  render_block 'extra_head' %}
</head>

<body>
    <header class="nav">
        {% include "_navigation_bar.html" %}
    </header>
    {% include "_sidebar.html" %}
    {% block body %}
    {% endblock %}
    <main id="main" class="pusher">
        {% include '_scroll-button.html' %}
        {% block main %}
        {% endblock %}
        {% render_block 'main' %}
    </main>
    {% render_block 'after-main' %}
    <footer class="pusher">
        {% block footer %}
        {% endblock %}
        {% block javascript %}
        <script src="{% static "semantic/semantic.min.js" %}"></script>
        <script src="{% static "js/scroll-button.js" %}"></script>
        <script src="{% static "js/navigation.js" %}"></script>
        {% endblock %}
        {% render_block 'prio-js' %}
        {% block scripts %}
        {% endblock %}
        {%  render_block 'js' %}
    </footer>
</body>

</html>