{% load i18n %}
{% load sekizai_tags %}


<div id="{% if feed_id %}{{ feed_id }}{% else %}feed{% endif %}">
    <div
        class="{% if custom_class %}{{ custom_class }}{% else %}ui stackable {{ blocks }} column cards grid{% endif %} feed-container">
    </div>
    <div class="ui one column stackable center aligned page grid padded-section-container controls">
        <span class="hidden none-found">{% trans 'No objects found' %}</span>
        <span class="ui active inline feed-loader loader"></span>
        <button class="ui invisible green load-more icon button">
            {% trans 'Load more' %}
            <i class="sync icon"></i>
        </button>
    </div>
</div>

{% addtoblock 'js' %}
<script>
    class BlockFeed {
        constructor(feed_id, _feed_renderer) {
            this.next = '';
            this.feed_id = '#' + feed_id;
            this._feed_renderer = _feed_renderer;

            var self = this;
            $(this.feed_id + ' .controls .load-more').on('click', function () {
                if (self.next) {
                    self.load_feed(self.next, true);
                }
            }
            );
        }
        load_feed(url, append = false) {
            var self = this;

            $(this.feed_id + ' .controls .load-more').addClass('invisible');
            add_loader(this.feed_id + ' .controls .feed-loader');
            $.ajax({
                'url': url,
                'type': 'GET',
                'dataType': 'JSON'
            }).done(function (data) {
                remove_loader(self.feed_id + ' .controls .feed-loader');
                var feed = self._feed_renderer(data.results);

                if (data.next) {
                    $(self.feed_id + ' .controls .load-more').removeClass('invisible');
                    self.next = data.next;
                }
                if (!append) {
                    $(self.feed_id + ' .feed-container').html("");

                    if (feed) {
                        $(self.feed_id + ' .controls .none-found').addClass('hidden');
                    } else {
                        $(self.feed_id + ' .controls .none-found').removeClass('hidden');
                    }
                }
                $(self.feed_id + ' .feed-container').append(feed);
                if (typeof feed_listeners !== 'undefined') {
                    feed_listeners();
                }
                $('.thumbnail').on('load', function () {
                    $('.placeholder').hide();
                });
                $('.fluid.card .image').dimmer({ on: 'hover' });
            });
        }
        create_feed(endpoint, params = null) {
            var query = "";
            if (params) {
                for (const [key, value] of Object.entries(params)) {
                    query += key + '=' + value + '&';
                }
            }
            var url = endpoint + "?" + query;
            this.load_feed(url);
        }
    }
</script>
{% endaddtoblock %}