{% load i18n %}
{% load sekizai_tags %}



<div id="feed"
    class="{% if custom_class %}{{ custom_class }}{% else %}ui stackable {{ blocks }} column cards grid{% endif %}">
</div>
<div class="ui one column stackable center aligned page grid padded-section-container">
    <span id="none-found" class="hidden">{% trans 'No objects found' %}</span>
    <span id="feed-loader" class="ui active inline loader"></span>
    <button id="load-more" class="ui invisible green icon button">
        {% trans 'Load more' %}
        <i class="sync icon"></i>
    </button>
</div>

{% addtoblock 'js' %}
<script>
    var next = '';

    function load_feed(url, _feed_renderer, append = false) {
        $('#load-more').addClass('invisible');
        add_loader('#feed-loader');

        $.ajax({
            'url': url,
            'type': 'GET',
            'dataType': 'JSON'
        }).done(function (data) {
            remove_loader('#feed-loader');
            var feed = _feed_renderer(data.results);

            if (data.next) {
                $('#load-more').removeClass('invisible');
                next = data.next;
            }
            if (append) {
                $('#feed').append(feed);
            } else {
                if (feed) {
                    $('#none-found').addClass('hidden');
                    $('#feed').html(feed);
                } else {
                    $('#none-found').removeClass('hidden');
                }
            }
            if (typeof feed_listeners !== 'undefined') {
                feed_listeners();
            }
            $('.thumbnail').on('load', function () {
                $('.placeholder').hide();
            });
            $('.fluid.card .image').dimmer({ on: 'hover' });
        });
    }
    function create_feed(endpoint, params = null) {
        var query = "";
        if (params) {
            for (const [key, value] of Object.entries(params)) {
                query += key + '=' + value + '&';
            }
        }
        var url = endpoint + "?" + query;
        load_feed(url, render_feed);
    }

    $(document).ready(function () {
        $('#load-more').on('click', function () {
            if (next) {
                load_feed(next, render_feed, true);
            }
        });
    });
</script>
{% endaddtoblock %}