{% load static %}
{% load i18n %}
<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui horizontal small divided link list">
            <a class="item" href="https://gitlab.com/resource-hub/resource-hub" target="_blank">
                <p><img width="150" src="{% static 'logo.png' %}" class="ui centered image" alt="Resource Hub logo"></p>
                <p>GNU AGPLv3</p>
            </a>
        </div>
        <div class="ui section divider"></div>
        <div class="ui stackable grid">
            <div class="three wide column">
                <h4 class="ui header">
                    {% trans 'General' %}
                </h4>
                <div class="ui link list">
                    <a class="item" href="{% url 'core:imprint' %}">{% trans 'Imprint' %}</a>
                    <a class="item" href="{% url 'core:terms' %}">{% trans 'Terms' %}</a>
                    <a class="item" href="{% url 'core:privacy' %}">{% trans 'Privacy' %}</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui header">
                    {% trans 'Software' %}
                </h4>
                <div class="ui link list">
                    <a class="item" href="https://gitlab.com/resource-hub/resource-hub"
                        target="_blank">{% trans 'Repository' %}</a>
                    <a class="item" href="{% url 'core:report_bug' %}">{% trans 'Report bug' %}</a>
                </div>
            </div>
            <div class="three wide column">

            </div>
            <div class="six wide column">
                <h4 class="ui header">{% trans 'in cooperation with &lt;3' %}</h4>
                <div class="ui two column grid">
                    <a class="column" href="https://www.gesellschaftplus.de" target="_blank">
                        <img width="150" src="{% static 'gfaz_logo.png' %}" class="ui centered image" alt="GFAZ">
                    </a>
                    <a class="column" href="https://wasmitherz.de" target="_blank">
                        <img width="150" src="{% static 'wmh_logo.jpg' %}" class="ui centered image" alt="wasmitherz">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>