{% load i18n %}
{% load formset_tags %}
{% load static %}
{% load sekizai_tags %}

<div class="formset" data-formset-prefix="{{ formset.prefix }}">
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    <table class="ui table" data-formset-body>
        <!-- New forms will be inserted in here -->

        <thead>
            <tr>
                {% for field in formset.empty_form.visible_fields %}
                <th>
                    {{ field.label|capfirst }}<br>
                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}

                </th>
                {% endfor %}
            </tr>
        </thead>
        {% for form in formset %}
        <tbody class="data-formset-form">
            <tr>
                {% for field in form.visible_fields %}
                <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    {% endif %}
                    {{ field }}
                    {% for error in field.errors %}
                    <div class="ui pointing red basic label">{{ error }}</div>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% if form.nested %}
            <tr>
                <td>
                </td>
                <td colspan="{{ form.visible_fields|length|add:'-1' }}">
                    <div class="nested-formset" data-formset-prefix="{{ form.nested.prefix }}">
                        {{ form.nested.management_form }}
                        {{ form.nested.non_form_errors }}

                        <table class="ui table nested-data-formset-body">
                            {% for nested_form in form.nested.forms %}
                            {% if forloop.first %}
                            <thead>
                                <tr>
                                    {% for field in nested_form.visible_fields %}
                                    <th>
                                        {{ field.label|capfirst }}<br>
                                        {% if field.help_text %}
                                        <small style="color: grey">{{ field.help_text }}</small>
                                        {% endif %}

                                    </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            {% endif %}
                            <tr class="nested-data-formset-form">
                                {% for field in nested_form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                    {% for hidden in nested_form.hidden_fields %}
                                    {{ hidden }}
                                    {% endfor %}
                                    {% endif %}
                                    {{ field }}
                                    {% for error in field.errors %}
                                    <div class="ui pointing red basic label">{{ error }}</div>
                                    {% endfor %}
                                </td>
                                {% endfor %}
                                {% endfor %}
                        </table>
                        {% if nested_form.max_num != nested_form.total_form_count %}
                        <a class="ui right labeled icon button nested-data-formset-add">
                            {% trans 'Add another' %}
                            <i class="plus icon"></i>
                        </a>
                        {% endif %}
                        <script type="form-template" class="nested-data-formset-empty-form">
                            {% escapescript %}
                                <tr class="nested-data-formset-form">
                                    {% for field in form.nested.empty_form.visible_fields %}
                                    <td>
                                        {# Include the hidden fields in the form #}
                                        {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                        {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                    {% endfor %}
                                </tr>
                            {% endescapescript %}
                        </script>
                    </div>

                </td>
            </tr>
            {% endif %}
        </tbody>
        {% endfor %}

        <!-- The empty form template. By wrapping this in a <script> tag, the
    __prefix__ placeholder can easily be replaced in both attributes and
    any scripts -->
        <script type="form-template" data-formset-empty-form>
        {% escapescript %}
        <tbody class="data-formset-form">
            <tr>
                {% for field in formset.empty_form.visible_fields %}
                <td>
                    {# Include the hidden fields in the form #}
                    {% if forloop.first %}
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    {% endif %}
                    {{ field.errors.as_ul }}
                    {{ field }}
                </td>
                {% endfor %}
            </tr>
            {% if formset.nested_empty_form %}
            {% with formset.nested_empty_form as child_form %}
            <tr>
                <td>
                </td>
                <td colspan="{{ child_form.visible_fields|length|add:'-1' }}">
                    <div class="nested-formset" data-formset-prefix="{{ child_form.prefix }}">
                        {{ formset.nested_empty_management_form }}

                        <table class="ui table nested-data-formset-body">
                            
                            <thead>
                                <tr>
                                    {% for field in child_form.visible_fields %}
                                    <th>
                                        {{ field.label|capfirst }}<br>
                                        {% if field.help_text %}
                                        <small style="color: grey">{{ field.help_text }}</small>
                                        {% endif %}

                                    </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tr class="nested-data-formset-form">
                                {% for field in child_form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                    {% for hidden in child_form.hidden_fields %}
                                    {{ hidden }}
                                    {% endfor %}
                                    {% endif %}
                                    {{ field }}
                                    {% for error in field.errors %}
                                    <div class="ui pointing red basic label">{{ error }}</div>
                                    {% endfor %}
                                </td>
                                {% endfor %}
                        </table>
                        {% if nested_form.max_num != nested_form.total_form_count %}
                        <a class="ui right labeled icon button nested-data-formset-add">
                            {% trans 'Add another' %}
                            <i class="plus icon"></i>
                        </a>
                        {% endif %}
                        <script type="form-template" class="nested-data-formset-empty-form">
                            {% escapescript %}
                                <tr class="nested-data-formset-form">
                                    {% for field in child_form.visible_fields %}
                                    <td>
                                        {# Include the hidden fields in the form #}
                                        {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                        {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                    {% endfor %}
                                </tr>
                            {% endescapescript %}
                        </script>
</div>

</td>
</tr>
{% endwith %}
{% endif %}
</tbody>
{% endescapescript %}
</script>
</table>
{% if formset.max_num != formset.total_form_count %}
<!-- This button will add a new form when clicked -->
<a class="ui right labeled icon button data-formset-add" id="">
    {% trans 'Add another' %}
    <i class="plus icon"></i>
</a>
{% endif %}
</div>
{% addtoblock 'js' %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
    jQuery(function ($) {
        $(".formset").formset({
            animateForms: true,
            reorderMode: 'dom',
            add: '.data-formset-add',
            form: '.data-formset-form'
        });
    });
    $(".formset").bind("DOMSubtreeModified", function () {
        jQuery(function ($) {
            $(".nested-formset").formset({
                animateForms: true,
                reorderMode: 'dom',
                form: '.nested-data-formset-form',
                emptyForm: '.nested-data-formset-empty-form',
                body: '.nested-data-formset-body',
                add: '.nested-data-formset-add'
            });
        });
        $('.formset').on('formAdded', function (event) {
            newForm = event.target;
            console.log(event);
            console.log('hello')
        });
    });

</script>
{% endaddtoblock %}