{% load i18n %}

{% csrf_token %}
{% if form.errors %}
<div class="ui red message">
    {% trans 'Form contains errors!' %}
</div>
{% endif %}
{% if form.non_field_errors %}
<div class="ui red message">
    {% for error in form.non_field_errors %}
    <p>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}

{% for field in form %}
<div class="field">
    <label>
        {{ field.label }}:<span class="required-label-star">{% if field.field.required %} *{% endif %}</span>
    </label>
    {{ field }}
    {% if field.help_text %}
    <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
    <div class="ui pointing red basic label">{{ error }}</div>
    {% endfor %}
</div>
{% endfor %}