{% load sekizai_tags %}
{% load static %}
{% load l10n %}
{% load i18n %}

<div id="map" class="map">

</div>

{% addtoblock 'js' %}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<script src="{% static 'bouncemarker/bouncemarker.js' %}"></script>
{% if location %}
{% localize off %}
<script>
    var position = [parseFloat('{{ location.latitude }}'), parseFloat('{{ location.longitude }}')] 
</script>
{% endlocalize %}
{% else %}
<script>
    var position = [52.3882397, 9.722311];
</script>
{% endif %}
<script>
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        var url = 'https://api.mapbox.com/styles/v1/mark-weyde/ck7qf0hz80iq31ipm6dfvk4so/tiles/256/{z}/{x}/{y}@2x?access_token={accessToken}'
    } else {
        var url = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}';
    }
    var map = L.map('map').setView(position, 11.5);
    L.tileLayer(url, {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 20,
        id: 'mapbox.streets',
        accessToken: '{{ MAP_API_TOKEN }}'
    }).addTo(map);

    var marker = L.icon({
        iconUrl: '{% static "marker.png" %}',
        iconSize: [23, 40],
        iconAnchor: [11.5, 39],
        popupAnchor: [0, -40]
    });
</script>
{% if location %}
<script id="pop-up-template" type="text/tempate">
    <h5>%name%</h5>
    <p><i class="map marker alternate icon"></i>%address_string%</p>
    <a class="ui positive button" href="%location_link%">{% trans 'Details' %}</a>
</script>
<script>
    var popup_template = document.getElementById("pop-up-template").innerHTML;
    var popup = popup_template
        .replace(/%name%/g, '{{ location.name }}')
        .replace(/%address_string%/g, '{{ location.address }}')
        .replace(/%location_link%/g, '{% url "core:locations_profile" slug=location.slug %}');
    L.marker(position, {
        bounceOnAdd: true,
        bounceOnAddOptions: { duration: 500, height: 70 },
        icon: marker,
        title: '{{ location.name }}',
        clickable: true,
    }).bindPopup(popup).addTo(map).openPopup();
</script>
{% endif %}
{% endaddtoblock %}