{% load i18n %}
{% load static %}
{% load hook_tags %}
{% load sekizai_tags %}

<nav class="navigation-bar">
    <a id="main-menu-toggle"><i class="sidebar icon"></i>
        Menu</a>
    <div class="collapsible left">
        <a class="item" href="{% url 'core:home' %}">
            {% trans 'Home' %}
        </a>
        {% hook 'navigation_bar' %}
        <div class="ui pointing dropdown item">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_language_info for LANGUAGE_CODE as CURRENT_LANG %}
            <span class="text">{{ CURRENT_LANG.name_local }}</span>
            <i class="dropdown icon"></i>
            <div class="menu item">
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}"
                    class="lang item {% if language.code == LANGUAGE_CODE %}active selected{% endif %}">
                    <span class="text">{{ language.name_local }}</span>
                </option>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="right">
        {% if user.is_authenticated %}
        <div>
            <img class="avatar" width="30" height="30" src="
                {% if actor.thumbnail_small %}
                {{ actor.thumbnail_small.url }}
                {% else %}
                {% static 'default.png' %}
                {% endif %}
                ">
        </div>
        <div class="ui pointing dropdown" style="margin-top: 9px;">
            <span>
                {{ actor.name }}
                <div id="notification_indicator" class="hidden mini floating ui red msg label"></div>
            </span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item" href="{% url 'control:home' %}">
                    <i class="sliders horizontal icon"></i>{% trans 'Admin' %}</a>
                <a class="item" href="{% url 'control:notifications' %}"><i
                        class="bell icon"></i>{% trans 'Notfications' %}</a>
                <a id="role" class="item"><i class="address card outline icon"></i>{% trans 'Change role' %}</a>
                <div class="divider"></div>
                <div class="item">
                    <div class="center">
                        <a class="ui red button" href="{% url 'core:logout' %}">
                            {% trans 'logout' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="item">
            <a id="register-button" class="small ui primary button" href="{% url 'core:register' %}">
                {% trans 'Register' %}
            </a>

            <a class="small ui positive button" href="{% url 'core:login' %}">
                {% trans 'Login' %}
            </a>
        </div>
        {% endif %}
    </div>
</nav>

<form id="language-form" action="{% url 'core:set_language' %}" method="post">
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <input id="language" type="hidden" name="language">
    {% csrf_token %}
</form>

<div id="select-roles" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        {% trans 'choose role' %}
    </div>

    <div class="content">
        <div class="description">
            <div class="ui header">
                {% trans '' %}
            </div>
            <div id="role-loader" class="ui active workaround centered inline loader"></div>
            <form id="role-form" class="ui hidden form" action="{% url 'core:actor_set' %}" method="POST">
                {% csrf_token %}
                <div class="field">
                    <label for="actor">{% trans 'role' %}</label>
                    <select id="role-list" name="actor_id"></select>
                </div>
                <button type="submit" class="ui positive right labeled icon button">
                    {% trans 'choose' %}
                    <i class="checkmark icon"></i>
                </button>
            </form>
        </div>
    </div>
</div>

{% addtoblock 'prio-js' %}
{% if user.is_authenticated %}
<script>
    function update_notification_indicator() {
        $.ajax({
            url: "{% url 'api:notifications_unread' %}",
            type: "GET",
            dataType: "JSON",
        }).done(function (data) {
            if (data.count > 0) {
                $('#notification_indicator').html(data.count).removeClass('hidden');
            } else {
                $('#notification_indicator').addClass('hidden');
            }
        });
    }
    $(document).ready(function () {
        update_notification_indicator()
        // display role selection modal and get list of roles
        $("#role").on("click", function (e) {
            e.preventDefault();
            $("#select-roles").modal("show");

            $.ajax({
                url: "{% url 'api:actor_list' %}",
                type: "GET",
                dataType: "JSON",
            }).done(function (list) {
                remove_loader("#role-loader");
                $("#role-form").removeClass("hidden");
                var list_items = "";
                if (list.length > 0) {
                    $.each(list, function (key, actor) {
                        list_items +=
                            '<option value="' + actor.id + '">' + actor.name + "</option>";
                    });
                }
                $("#role-list").html(list_items);
            });
        });
    })
</script>
{% endif %}
{% endaddtoblock %}