{% extends "core/__base.html" %}
{% load i18n %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
<script src="{% static 'leaflet/leaflet.js' %}"></script>
{% endblock %}

{% block not_in_container %}
{% include '_support-button.html' %}
<div id="map">

</div>
{% endblock %}

{% block content %}
<h1>{% trans 'Welcome!' %}</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Id porta nibh venenatis cras sed felis eget velit aliquet. Ipsum a arcu cursus vitae congue. In ante metus
  dictum at tempor. Porta non pulvinar neque laoreet suspendisse interdum consectetur. Potenti nullam ac tortor vitae
  purus faucibus ornare suspendisse. Sodales ut etiam sit amet nisl. Nulla facilisi morbi tempus iaculis urna. Nec dui
  nunc mattis enim. Sem fringilla ut morbi tincidunt augue. Egestas erat imperdiet sed euismod nisi porta lorem mollis.
</p>
<p>
  Ultrices in iaculis nunc sed augue lacus. Faucibus et molestie ac feugiat sed lectus vestibulum mattis. Non
  consectetur a erat nam. Tempus urna et pharetra pharetra massa massa ultricies mi. Imperdiet dui accumsan sit amet
  nulla. Suspendisse potenti nullam ac tortor vitae. Augue neque gravida in fermentum et sollicitudin ac orci. Urna id
  volutpat lacus laoreet non curabitur gravida arcu. Lacus vel facilisis volutpat est velit egestas dui. Non diam
  phasellus vestibulum lorem sed risus ultricies tristique. Quis vel eros donec ac odio tempor orci. Lacus suspendisse
  faucibus interdum posuere lorem ipsum dolor sit.
</p>
<script>
  var map = L.map('map').setView([52.3783212, 9.72492], 13.5);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 20,
    id: 'mapbox.streets',
    accessToken: '{{ MAP_API_TOKEN }}'
  }).addTo(map);

  var marker = L.icon({
    iconUrl: '{% static "marker.png" %}',
    iconSize: [23, 40],
    iconAnchor: [11.5, 39],
    popupAnchor: [0, -40]
  });
</script>
{% endblock %}

{% block scripts %}
<script id="pop-up-template" type="text/tempate">
<h5>%name%</h5>
<p><i class="map marker alternate icon"></i>%address_string%</p>
</script>
<script>
  $.get('{% url "api:locations_search" %}', function (data) {
    var popup_template = document.getElementById("pop-up-template").innerHTML;
    $.each(data, function (i, location) {
      var popup = popup_template
        .replace(/%name%/g, location.name)
        .replace(/%address_string%/g, location.address.address_string);
      L.marker([location.latitude, location.longitude],
        {
          icon: marker,
          title: location.name,
          clickable: true,
        }
      ).bindPopup(popup).addTo(map);
    })
  })

</script>
{% endblock %}