{% extends "core/__base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<h2>{% trans 'Register' %}</h2>
<div class="ui fluid segment">
    <form class="ui form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "_form.html" with form=user_form %}

        <h3>{% trans 'Optional Information' %}</h3>
        <p>
            <em>
                {% trans 'For some actions in the future this information might be required' %}
            </em>
        </p>
        <div class="ui accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                <b>{% trans 'Billing address' %}</b>
            </div>
            <div class="content">
                {% include "_form.html" with form=address_form %}
            </div>
            <div class="title">
                <i class="dropdown icon"></i>
                <b>{% trans 'Bank account' %}</b>
            </div>
            <div class="content">
                {% include "_form.html" with form=bank_account_form %}
            </div>
        </div>
        <p>
            <p>
                <a href="{% url 'core:terms' %}">
                    <i class="file icon"></i>
                    {% trans 'Show the terms and conditions' %}
                </a>
            </p>
            <div class="ui slider checkbox">
                <input type="checkbox" name="terms" required>
                <label for="terms">
                    <b>
                        {% trans 'I fully understand and agree to the given terms and conditions.' %}
                    </b>
                </label>
            </div>
        </p>
        <p>
            <button class="ui positive right labeled icon button" type="submit">
                {% trans 'Sign Up' %}
                <i class="checkmark icon"></i>
            </button>
        </p>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script language='javascript'>
    $(document).ready(function () {
        $('.ui.accordion').accordion();
    });
</script>
{% endblock %}