{% extends "core/__base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<h2>{% trans 'Report a Bug or get support' %}</h2>
<div class="ui segment">
    <p class="">
        <i class="info circle icon"></i>
        {% trans 'Use this form to report a bug or request a feature that you would like to see implemented. You can write to the following email to recieve more personal support ' %}
        <a href="mailto:incoming+resource-hub-resource-hub-13767519-issue-@incoming.gitlab.com">
            incoming+resource-hub-resource-hub-13767519-issue-@incoming.gitlab.com
        </a>
    </p>
</div>
<form class="ui form" method="POST">
    {% csrf_token %}
    {% include "_form.html" with form=issue_form %}
    <button class="ui positive right labeled icon button" type="submit">
        {% trans 'Report' %}
        <i class="bug icon"></i>
    </button>
</form>
{% endblock %}

{% block scripts %}

{% endblock %}