{% load i18n %}

<div class="item">
    <div class="header">
        {% trans 'Rooms' %}
    </div>
    <div class="menu">
        <a class="item
            {% if '/rooms/manage' in request.path %}
                active
            {% endif %}
        " href="{% url 'admin:rooms_manage' %}">
            {% trans 'Manage' %}
        </a>
        <a class="item
            {% if '/rooms/create' in request.path %}
                active
            {% endif %}
        " href="{% url 'admin:rooms_create' %}">
            {% trans 'Create' %}
        </a>
    </div>
</div>