/**
  *
  * semantic ui overrides   
  *
  */

.ui.dimmer {
    z-index: 10002 !important;
}

.ui.dimmer .ui.workaround.loader:before {
    border-color: rgba(0, 0, 0, .1) !important;
}

.ui.dimmer .ui.workaround.loader:after {
    border-color: #767676 transparent transparent !important;
}

/**
  *
  * Tag specific   
  *
  */

body {
    overflow-y: scroll;
}

em {
    letter-spacing: 0.3px;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.inline {
    display: inline;
}

.navigation-bar {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: fixed;
    padding: 0 1em 0 1em;
    background-color: white;
    width: 100%;
    line-height: 1.1;
    text-align: center;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    height: 3.2em;
    z-index: 1001;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navigation-bar>.left {
    float: left;
    padding-left: 0px;
    display: inherit;
}

.navigation-bar>.right {
    float: right;
    padding-right: 0px;
    display: inherit;
}

.navigation-bar>.left>.item, .navigation-bar>.right>.item {
    position: relative;
    padding: 0 10px 0 10px;
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: 0 0;
    text-transform: none;
    color: rgba(0, 0, 0, .87);
    font-weight: 400;
    -webkit-transition: background .1s ease, color .1s ease, -webkit-box-shadow .1s ease;
    transition: background .1s ease, color .1s ease, -webkit-box-shadow .1s ease;
    transition: background .1s ease, box-shadow .1s ease, color .1s ease;
    transition: background .1s ease, box-shadow .1s ease, color .1s ease, -webkit-box-shadow .1s ease;
}

.brand {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.ui.vertical.footer {
    border-top: 1px solid #DDDDDD;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.08) inset;
    background-color: #FAFAFA;
    padding-top: 2em;
}

.ui.vertical.menu {
    position: fixed;
    transition: width 0.3s, left 0.3s;
    -webkit-box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.2);
    z-index: 600;
    width: 220px;
    top: 3.2em;
    bottom: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
}

.ui.vertical.menu .item .menu a.item.active {
    border-right-style: solid;
    border-right-color: #1678c2;
    border-radius: 0 !important;
    margin: 0 -2px 0 0;
    border-right-width: 2.5px;
}

.account-layout {
    padding-left: 220px;
}

.wrapper {
    width: 100%;
}

.tab {
    display: none;
}

.active.tab {
    display: block;
}

#map {
    margin-top: 44.8px;
    width: 100%;
    height: 75vh;
}

/* .ui.secondary.pointing.menu .active.item {
    display: block;
}

.ui.secondary.pointing.menu .item {
    display: none;
} */

/**
  *
  * Other   
  *
  */

.main.container {
    margin-top: 3em;
    max-width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 1.4em;
}

.ui.footer {
    width: 100%;
    padding: 5em 0 2em 0;
    margin-top: 5em !important;
}

@media (max-width: 600px) {
    .ui.vertical.menu {
        display: none;
    }
    .account-layout {
        padding-left: 0;
    }
}