{% extends "__base.html" %}
{% load i18n %}

{% block body %}
{% include "control/_sidebar.html" %}
{% endblock %}

{% block main %}
<div class="admin wrapper">
    <div class="main container">
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="ui {% if message.tags %} {{ message.tags }}  {% endif %} message">
                <i class="close icon"></i>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if not user.is_verified %}
        <div class="messages">
            <div class="ui info message">
                {% trans 'Please verify your account with the email that you have recieved.' %}
                <a href="{% url 'control:account_verification_resend' %}">
                    {% trans 'Resend mail' %}
                </a>
            </div>
        </div>
        {% endif %}
        <nav class="admin-navigation">
            <button id="admin-sidebar-toggle" class="ui hidden left floated button">
                <i class="ul list icon"></i>
                Menu
            </button>
            {% block admin-navigation %}
            {% endblock %}
        </nav>
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}