{% extends "admin/__base.html" %}
{% load i18n %}

{% block content %}
{% url 'admin:account_settings' as url %}
<h2>Settings</h2>
<div id="secondary-menu" class="ui secondary pointing menu">
    <a class="{{ email }} item" tab-id="email">
        {% trans 'Email' %}
    </a>
    <a class="{{ password }} item" tab-id="password">
        {% trans 'Password' %}
    </a>
</div>

<div class="ui segment tab-content">
    <div id="email" class="{{ email }} tab">
        <h3>
            {% trans 'Change Email' %}
        </h3>
        <form class="ui form" method="POST" action="{{ url }}">
            {% include "_form.html" with form=email_form %}
            <button class="ui positive right labeled icon button" type="submit">
                {% trans 'Save' %}
                <i class="save icon"></i>
            </button>
        </form>
    </div>
    <div id="password" class="{{ password }} tab">
        <h3>
            {% trans 'Change Password' %}
        </h3>
        <form class="ui form" method="POST" action="{{ url }}">
            {% include "_form.html" with form=password_form %}
            <button class="ui positive right labeled icon button" type="submit">
                {% trans 'Save' %}
                <i class="save icon"></i>
            </button>
        </form>
    </div>
</div>

{% endblock %}