{% extends "admin/__base.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block content %}
<a class="ui labeled icon button back-button"
    href="{% url 'admin:organizations_profile' organization_id=organization.id %}">
    <i class="left arrow icon"></i>
    {% trans 'Back' %}
</a>

<h2>
    {{ organization.name }}
</h2>

<div class=" ui segment tab-content">
    <div>
        <a class="ui labeled icon right floated green button"
            href="{% url 'admin:organizations_members_add' organization_id=organization.id %}">
            <i class="plus icon"></i>
            {% trans 'Add' %}
        </a>
        <h3 class="inline">
            {% trans 'Members' %}
        </h3>

    </div>
    <div>
        {% if members_table %}
        {% render_table members_table %}
        {% else %}
        <p>
            {% trans 'No associated members found' %}
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('.user').on('input', function (e) {
        e.preventDefault();
        //select row and table
        var row = $(this);

        //get data from hidden input fields


        var values = {

        };

        //save updated values to object
        if (updates.hasOwnProperty(pid)) {
            updates[pid] = values;
        } else {
            updates = Object.assign({ [pid]: values }, updates)
        }

        //display save button
        if ($('#save-btn').hasClass('no-display')) {
            $('#save-btn').removeClass('no-display');
        }

    });
</script>
{% endblock %}