{% extends "admin/__base.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block admin-navigation %}
{% url 'panel:organizations_members' organization_id=organization.id as url %}
{% include '_back_button.html' with url=url %}
{% endblock %}

{% block content %}
<h1>
    {{ organization.name }}
</h1>

<div class="section-container tab-content">
    <form class="ui form" method="POST" action="">
        {% include "_form.html" with form=member_add_form %}
        <p>
            <button class="ui positive right labeled icon button" type="submit">
                {% trans 'add user' %}
                <i class="plus icon"></i>
            </button>
        </p>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('.ui.search')
        .search({
            minCharacters: 2,
            apiSettings: {
                onResponse: function (result) {
                    return { results: Object.values(result) };
                },
                url: '{% url "api:search_users" %}?search={query}'
            },
            fields: {
                title: 'username',
                description: 'full_name',
                url: 'html_url'
            }
        })
        ; </script>
{% endblock %}