{% extends 'core/admin/__base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<a class="ui labeled icon button back-button">
    <i class="left arrow icon"></i>
    {% trans 'Back' %}
</a>
<h2>
    {% trans 'Profile' %}
</h2>
<div class="ui segment tab-content">
    <div class="ui stackable two column grid">
        <div class="four wide column">
            <div class="ui container center aligned">
                <img width="100" height="100" src="
                    {% if organization.info.thumbnail %}
                    {{ organization.info.thumbnail.url }}
                    {% else %}
                    {% static 'default.png' %}
                    {% endif %}
                    ">

                {% if is_admin %}
                <div class="ui compact menu">
                    <a class="item" href="{% url 'core:organizations_members' organization_id=organization.id %}">
                        <i class="users icon"></i>
                        {% trans 'Users' %}
                    </a>
                    <a class="item"
                        href="{% url 'core:organizations_profile_edit' organization_id=organization.id scope='info' %}">
                        <i class="edit icon"></i>
                        {% trans 'Profile' %}
                    </a>
                </div>
                {% endif %}
            </div>

        </div>
        <div class="twelve wide column">
            <h3>
                {{ organization.name }}
            </h3>
            <p>
                {{ organization.info.info_text |safe }}
            </p>
        </div>
    </div>
</div>
{% endblock %}