{% extends 'admin/__base.html' %}
{% load i18n %}

{% block content %}
<h2>
    {% trans 'Create Organization' %}
</h2>
<div class="section-container tab-content">
    <form class="ui form" method="POST" action="{{ url }}" enctype="multipart/form-data">
        {% include '_form.html' with form=organization_form %}
        {% include '_form.html' with form=actor_form %}
        {% include '_form.html' with form=address_form %}
        {% include '_form.html' with form=bank_account_form %}
        <button class="ui positive right labeled icon button" type="submit">
            {% trans 'Create' %}
            <i class="users icon"></i>
        </button>
    </form>
</div>
{% endblock %}