{% extends "core/admin/__base.html" %}
{% load i18n %}

{% block content %}
{% url 'core:organization_profile' as url %}
<a class="ui labeled icon button back-button">
    <i class="left arrow icon"></i>
    {% trans 'Back' %}
</a>
<h2>{{ organization_name }}</h2>
<div id="secondary-menu" class="ui secondary pointing menu">
    <a class="{{ info }} item" tab-id="info">
        {% trans 'Profile' %}
    </a>
    <a class="{{ address }} item" tab-id="address">
        {% trans 'Address' %}
    </a>
    <a class="{{ bank_account }} item" tab-id="bank_account">
        {% trans 'Bank Account' %}
    </a>
</div>

<div class="ui segment tab-content">
    <div id="info" class="{{ info }} tab">
        <h3>
            {% trans 'Edit profile' %}
        </h3>
        <form class="ui form" method="POST" action="{{ url }}" enctype="multipart/form-data">
            {% include '_form.html' with form=actor_form %}
            <button class="ui positive right labeled icon button" type="submit">
                {% trans 'Save' %}
                <i class="save icon"></i>
            </button>
        </form>
    </div>
    <div id="address" class="{{ address }} tab">
        <h3>
            {% trans 'Edit Address' %}
        </h3>
        <form class="ui form" method="POST" action="{{ url }}">
            {% include '_form.html' with form=address_form %}
            <button class="ui positive right labeled icon button" type="submit">
                {% trans 'Save' %}
                <i class="save icon"></i>
            </button>
        </form>
    </div>
    <div id="bank_account" class="{{ bank_account }} tab">
        <h3>
            {% trans 'Edit bank information' %}
        </h3>
        <form class="ui form" method="POST" action="{{ url }}">
            {% include '_form.html' with form=bank_account_form %}
            <button class="ui positive right labeled icon button" type="submit">
                {% trans 'Save' %}
                <i class="save icon"></i>
            </button>
        </form>
    </div>
</div>

{% endblock %}