{% extends "admin/__base.html" %}
{% load i18n %}
{% load django_tables2 %}

{% block content %}
<a class="ui labeled icon button back-button"
    href="{% url 'admin:organizations_members' organization_id=organization.id %}">
    <i class="left arrow icon"></i>
    {% trans 'Back' %}
</a>

<h2>
    {{ organization.name }}
</h2>

<div class=" ui segment tab-content">
    <form class="ui form" method="POST" action="">
        {% include "_form.html" with form=member_add_form %}
        <p>
            <button class="ui positive right labeled icon button" type="submit">
                {% trans 'Add user' %}
                <i class="plus icon"></i>
            </button>
        </p>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('.ui.search')
        .search({
            minCharacters: 2,
            apiSettings: {
                onResponse: function (result) {
                    return { results: Object.values(result) };
                },
                url: '{% url "api:search_users" %}?search={query}'
            },
            fields: {
                title: 'username',
                description: 'full_name',
                url: 'html_url'
            }
        })
        ; </script>
{% endblock %}