{% extends 'admin/__base.html' %}
{% load i18n %}
{% load static %}

{% block admin-navigation %}
{% url 'panel:organizations_manage' as url%}
{% include '_back_button.html' with url=url %}
{% endblock %}
{% block content %}
<h1>
    {% trans 'Profile' %}
</h1>
<div class="section-container tab-content">
    <div class="ui stackable two column grid">
        <div class="four wide column">
            <div class="ui container center aligned">
                <img width="100%" height="auto" src="
                    {% if organization.thumbnail_large %}
                    {{ organization.thumbnail_large.url }}
                    {% else %}
                    {% static 'default.png' %}
                    {% endif %}
                    ">

                {% if is_admin %}
                <div class="ui compact menu">
                    <a class="item" href="{% url 'panel:organizations_members' organization_id=organization.id %}">
                        <i class="users icon"></i>
                        {% trans 'Members' %}
                    </a>
                    <a class="item"
                        href="{% url 'panel:organizations_profile_edit' organization_id=organization.id scope='info' %}">
                        <i class="edit icon"></i>
                        {% trans 'Profile' %}
                    </a>
                </div>
                {% endif %}
            </div>

        </div>
        <div class="twelve wide column">
            <h1>
                {{ organization.name }}
            </h1>
            <div class="ui container">
                <label class="ui tiny header">{% trans 'Description' %}</label>
                <p>
                    {{ organization.info_text |safe }}
                </p>
                <label class="ui tiny header">{% trans 'Telephone (public)' %}</label>
                <p>
                    {{ organization.telephone_public }}
                </p>
                <label class="ui tiny header">{% trans 'Email (public)' %}</label>
                <p>
                    {{ organization.email_public }}
                </p>
                <label class="ui tiny header">{% trans 'Website' %}</label>
                <p>
                    <a href="{{ organization.website }}">{{ organization.website }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}