{% load i18n %}
{% load hook_tags %}
<aside id="admin-sidebar" class="ui vertical sidebar menu">
    <div class="item">
        <div class="header">Account</div>
        <div class="menu">
            <a class="item
                    {% if '/account/profile/' in request.path %}
                    active
                    {% endif %}
                    " href="{% url 'panel:account_profile' scope='info' %}">
                {% trans 'profile' %}
            </a>
            <a class="item
                {% if '/settings/' in request.path %}
                active
                {% endif %}
                " href="{% url 'panel:account_settings' scope='email' %}">
                {% trans 'settings' %}
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">
            {% trans 'finance' %}
        </div>
        <div class="menu">
            <a class="item
                {{ request.path }}
                {% if '/finance/payment-methods/manage' in request.path %}
                    active
                    {% endif %}
                " href="{% url 'panel:payment_methods_manage' %}">
                {% trans 'manage' %}
            </a>
            <a class="item
                {% if '/finance/payment-methods/add' in request.path %}
                    active
                    {% endif %}
                " href="{% url 'panel:payment_methods_add' %}">
                {% trans 'add' %}
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">
            {% trans 'organizations' %}
        </div>
        <div class="menu">
            <a class="item
                {{ request.path }}
                {% if '/admin/organizations/manage' in request.path %}
                    active
                    {% endif %}
                " href="{% url 'panel:organizations_manage' %}">
                {% trans 'manage' %}
            </a>
            <a class="item
                {% if '/organizations/create' in request.path %}
                    active
                    {% endif %}
                " href="{% url 'panel:organizations_create' %}">
                {% trans 'create' %}
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">
            {% trans 'locations' %}
        </div>
        <div class="menu">
            <a class="item
                {% if '/locations/manage' in request.path %}
                    active
                    {% endif %}
                " href="{% url 'panel:locations_manage' %}">
                {% trans 'manage' %}
            </a>
            <a class="item
                {% if '/locations/create' in request.path %}
                    active
                    {% endif %}
                " href="{% url 'panel:locations_create' %}">
                {% trans 'create' %}
            </a>
        </div>
    </div>
    {% hook 'admin_sidebar' %}
</aside>