{% load i18n %}
{% load static %}
{% load sekizai_tags %}


{% addtoblock 'extra_head' %}
{% get_current_language as LANG %}
<link href="{% static 'fullcalendar/main.min.css' %}" rel="stylesheet">
<link href="{% static 'fullcalendar/daygrid/main.min.css' %}" rel="stylesheet">
<link href="{% static 'fullcalendar/timegrid/main.min.css' %}" rel="stylesheet">
<link href="{% static 'fullcalendar/list/main.min.css' %}" rel="stylesheet">

<script src="{% static 'fullcalendar/main.min.js' %}"></script>
<script src="{% static 'fullcalendar/daygrid/main.min.js' %}"></script>
<script src="{% static 'fullcalendar/timegrid/main.min.js' %}"></script>
<script src="{% static 'fullcalendar/list/main.min.js' %}"></script>
{% if venue %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var locale = '{{ LANG }}';
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            events: "{% url 'api:venues_event_feed' pk=venue.pk %}",
            plugins: ['list', 'dayGrid'],
            locale: locale,
            defaultView: 'dayGridMonth',
            contentHeight: 'auto',
            header: { left: 'title', center: '', right: 'dayGridMonth,listWeek prev,next' },
            buttonText: {
                'dayGridMonth': "{% trans 'month' %}",
                'listWeek': "{% trans 'week' %}"

            },
        });

        calendar.render();
    });
</script>
{% endif %}
{% endaddtoblock %}


<div class="calendar" id='calendar'></div>