{% load i18n %}
{% load sekizai_tags %}

{% include 'items/_item_feed_renderer.html' %}
{% addtoblock 'js' %}
<script>
    $(document).ready(function () {
        var item_feed = new BlockFeed("{% url 'api:items' %}", 'item-feed', render_item_feed);
        item_feed.create_feed();

        $('#filter-form').on('submit', function (e) {
            e.preventDefault();
            var name = $(this).find("input[name='search_query']").val();
            item_feed.create_feed({ name: name });
        });
    });
</script>
{% endaddtoblock %}