{% load i18n %}
{% load sekizai_tags %}

{% include '_block_feed.html' with blocks='four' %}
{% addtoblock 'js' %}
<script id="item-template" type="text/template">
    <div class="column">
        <a id='card' class="ui fluid card" href="%href%">
            <div class="content">
                <img class="ui avatar image" src="%owner_thumbnail%" alt="{% trans 'Logo' %}"> %owner_name%
            </div>
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">{% trans 'Details' %}</div>
                        </div>
                    </div>
                </div>
                <img class="thumbnail" src="%item_thumbnail%" alt="{% trans 'Thumbnail' %}">
            </div>
            <div class="ui placeholder">
                <div class="square image"></div>
            </div>
            <div class="content">
                <div class="header">%name%</div>
                <div class="meta">
                    <p><i class="location arrow icon"></i> %location_name%</p>
                    <p><i class="map marker alternate icon"></i> %address_string%</p>
                </div>
            </div>
        </a>
    </div>
</script>
<script>
    function render_feed(data) {
        var template = document.getElementById("item-template");
        var templateHtml = template.innerHTML;
        var feed = '';
        $.each(data, function (i, item) {
            feed += templateHtml
                .replace(/%href%/g, item['href'])
                .replace(/%owner_name%/g, item.owner['name'])
                .replace(/%owner_thumbnail%/g, item.owner['thumbnail'])
                .replace(/%item_thumbnail%/g, item['thumbnail'])
                .replace(/%name%/g, item['name'])
                .replace(/%location_name%/g, item.location.name)
                .replace(/%address_string%/g, item.location.address['address_string']);
        });
        return feed;
    }
    $(document).ready(function () {
        var endpoint = "{% url 'api:items' %}";
        create_feed(endpoint);

        $('#filter-form').on('submit', function (e) {
            e.preventDefault();
            var name = $(this).find("input[name='search_query']").val();
            create_feed(endpoint, { name: name });
        });
    });
</script>
{% endaddtoblock %}