{% load i18n %}
{% load sekizai_tags %}

{% include 'items/_item_feed_renderer.html' %}
{% addtoblock 'js' %}
<script>
    $(document).ready(function () {
        var endpoint = "{% url 'api:items' %}";
        create_feed(endpoint, null, '#item-feed');

        $('#filter-form').on('submit', function (e) {
            e.preventDefault();
            var name = $(this).find("input[name='search_query']").val();
            create_feed(endpoint, { name: name }, '#item-feed');
        });
    });
</script>
{% endaddtoblock %}