{% extends 'core/__base.html' %}
{% load i18n %}
{% load static %}
{% load custom_tags %}

{% block extra_head %}
<script src="{% url 'core:jsi18n' %}"></script>
{{ event_form.media }}
{% endblock %}

{% block not_in_container %}
<div class="main container large">
    <div class="ui stackable two column grid">
        <div class="seven wide column">
            <div class="ui horizontal section divider">{% trans 'Availability' %}</div>
            {% if item.unit == 'd' %}{% setvar 'Y-m-d' as format %}{% else %}{% setvar 'Y-m-d H:i' as format %}{% endif %}
            {% url 'api:item_bookings' pk=item.pk as event_url %}
            {% get_current_language as lang %}
            {% url 'api:items_ics_feed' owner_slug=item.owner.slug item_slug=item.slug as ics_url %}
            {% include '_calendar.html' with event_url=event_url lang=lang ics_url=ics_url format=format %}
        </div>
        <div class="nine wide column">
            {% get_current_language as lang %}
            {% url 'items:details' item_slug=item.slug owner_slug=item.owner.slug as url %}
            {% include '_back_button.html' with url=url %}
            <h1>
                {% trans 'Create item booking' %}
            </h1>

            <form class="ui form" method="POST" enctype="multipart/form-data">
                {% include '_form.html' with form=item_contract_form %}
                <div id="container">
                    {% include '_form.html' with form=item_form %}
                </div>
                <div class="section-container">
                    {% include 'core/_identity.html' with actor=actor %}
                    <button class="ui positive right labeled icon button" type="submit">
                        {% trans 'Check booking' %}
                        <i class="zoom-in icon"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}