{% extends 'core/__base.html' %}
{% load i18n %}

{% block not_in_container %}
<div class="container">
    <div class="location-image" style="background-image: url('{{ item.thumbnail_original.url }}')">
    </div>
</div>
{% get_current_language as LANG %}
<div class="main container large">
    <div class="ui stackable two column grid">
        <div class="eight wide column">
            <h1>{{ item.name }}</h1>
            <div class="ui list">
                {% if item.manufacturer %}
                <div class="item">
                    <div class="header">
                        {% trans 'Manufacturer' %}
                    </div>
                    {{ item.manufacturer }}
                </div>
                {% endif %}
                {% if item.model %}
                <div class="item">
                    <div class="header">
                        {% trans 'Model' %}
                    </div>
                    {{ item.model }}
                </div>
                {% endif %}
                {% if item.serial_no %}
                <div class="item">
                    <div class="header">
                        {% trans 'Serial number' %}
                    </div>
                    {{ item.serial_no }}
                </div>
                {% endif %}
                {% if item.serial_no %}
                <div class="item">
                    <div class="header">
                        {% trans 'Serial number' %}
                    </div>
                    {{ item.serial_no }}
                </div>
                {% endif %}
            </div>
            <p>
                {{ item.description|safe }}
            </p>
        </div>
        <div class="eight wide column">
            {% include 'items/_item_calendar.html' with item=item %}
            <div class="ui list">
                <div class="item">
                    <div class="header">
                        {% trans 'Base price' %}
                    </div>
                    {{ item.base_price }}
                </div>
                <div class="item">
                    <div class="header">
                        {% trans 'Self pickup' %}
                    </div>
                    {{ item.get_self_pickup_display }}
                </div>
                <div class="item">
                    <div class="header">
                        {% trans 'Unit' %}
                    </div>
                    {{ item.get_unit_display }}
                </div>
            </div>
            <a class="ui right labeled positive icon button"
                href="{% url 'items:book' item_slug=item.slug owner_slug=item.owner.slug %}">
                {% trans 'book' %}
                <i class="calendar alternate outline icon"></i>
            </a>
        </div>
    </div>

    <div class="section-container">
        {% if item.gallery.images.all %}
        <h2>{% trans 'Gallery' %}</h2>
        {% include '_gallery.html' with gallery=item.gallery.images.all %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('.fluid.card .image').dimmer({ on: 'hover' });
    })
</script>
{% endblock %}