{% extends 'core/__base.html' %}
{% load i18n %}

{% block not_in_container %}
<div class="container">
    <div class="location-image" style="background-image: url('{{ item.thumbnail_original.url }}')">
    </div>
</div>
{% get_current_language as LANG %}
<div class="main container large">
    <div class="ui stackable two column grid">
        <div class="eight wide column">
            <nav class="button-navigation">
                <a class="ui labeled icon back button" href="{% url 'items:index' %}">
                    <i class="left arrow icon"></i>
                    {% trans 'Back' %}
                </a>
                <a class="ui right labeled right floated positive icon button"
                    href="{% url 'items:book' item_slug=item.slug owner_slug=item.owner.slug %}">
                    {% trans 'Lend' %}
                    <i class="calendar alternate outline icon"></i>
                </a>
            </nav>
            <h1>{{ item.name }}</h1>
            {% include 'items/_item_info.html' %}

        </div>
        <div class="eight wide column">
            {% if item.location.is_public %}
            {% include 'core/_location_info.html' with location=item.location %}
            {% endif %}
        </div>
    </div>
    <div class="main container">
        <div class="section-container">
            {% if item.gallery.images.all %}
            <div class="ui horizontal section divider">{% trans 'Gallery' %}</div>
            {% include '_gallery.html' with gallery=item.gallery.images.all %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('.fluid.card .image').dimmer({ on: 'hover' });
    })
</script>
{% endblock %}