{% extends 'core/__base.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'datetimepicker/jquery.datetimepicker.css' %}" />
<script src="{% url 'core:jsi18n' %}"></script>
{{ event_form.media }}
{% endblock %}

{% block not_in_container %}
<div class="main container large">
    <div class="ui stackable two column grid">
        <div class="nine wide column">
            {% url 'items:details' item_slug=item.slug owner_slug=item.owner.slug as url %}
            {% include '_back_button.html' with url=url %}
            <h1>
                {% trans 'Create item booking' %}
            </h1>

            <form class="ui form" method="POST" enctype="multipart/form-data">
                {% include '_form.html' with form=item_contract_form %}
                <div id="container">
                    {% include '_form.html' with form=item_form %}
                </div>
                <div class="section-container">
                    {% include 'core/_identity.html' with actor=actor %}
                    <button class="ui positive right labeled icon button" type="submit">
                        {% trans 'Check booking' %}
                        <i class="zoom-in icon"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="seven wide column">
            <div class="ui horizontal section divider">{% trans 'Availability' %}</div>
            {% include 'items/_item_calendar.html' with item=item %}
        </div>
    </div>
</div>
{% endblock %}



{% block scripts %}
<script src="{% static 'datetimepicker/build/jquery.datetimepicker.full.min.js' %}"></script>
<script>
    function setEnd(currentDateTime) {
        dtPickerEnd.datetimepicker({
            minDate: currentDateTime,
            defaultTime: currentDateTime,
            defaultDate: currentDateTime
        })
    }
    var format = "{% if item.unit == 'd' %}Y-m-d{% else %}Y-m-d H:i{% endif %}";
    var timepicker = format == 'Y-m-d' ? false : true;
    var locale = "{% get_current_language as LANG %}{{ LANG }}";
    var selectedStart = null;
    var selectedEnd = null;
    jQuery.datetimepicker.setLocale(locale);
    var dtPickerStart = $('#id_dtstart').datetimepicker({
        onChangeDateTime: setEnd,
        step: 30,
        format: format,
        mask: true,
        timepicker: timepicker,
        onSelectDate: function (currentDateTime) {
            selectedStart = currentDateTime;
            calendar.select(selectedStart);
        }

    });
    var dtPickerEnd = $('#id_dtend').datetimepicker({
        step: 30,
        format: format,
        mask: true,
        timepicker: timepicker,
        onSelectDate: function (currentDateTime) {
            selectedEnd = currentDateTime;
            calendar.select(selectedStart, selectedEnd);
        }
    });
</script>
{% endblock %}