{% load i18n %}
<div class="ui list">
  <div class="item">
    <a href="{% url 'core:actor_profile' slug=actor.slug %}" target="_blank">
      {{ actor.name }}
    </a>
  </div>
  <div class="item">
    <span>
      {{ actor.address}}
    </span>
  </div>
  {% if actor.email_public %}
  <div class="item">
    <a href="mailto:{{ actor.email_public }}">
      {{ actor.email_public }}
    </a>
  </div>
  {% endif %} {% if actor.telephone_private %}
  <div class="item">
    <a href="tel:{{ actor.telephone_private }}">
      {{ actor.telephone_private }}
    </a>
  </div>
  {% endif %} {% if actor.website %}
  <div class="item">
    <a href="{{ actor.website }}" target="_blank">
      {{ actor.website }}
    </a>
  </div>
  {% endif %}
</div>