{% extends "core/__base.html" %} {% load i18n %} {% load static %} {% block extra_head %}
<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<script src="{% static 'bouncemarker/bouncemarker.js' %}"></script>
{% endblock %}

{% block not_in_container %}
{% include '_support-button.html' %}
{% include '_map.html' %}
{% endblock %}

{% block content %}
<h1>{% trans 'Locations' %}</h1>
<div id="feed-loader" class="ui active centered inline loader"></div>
<div id="location-feed" class="ui stackable three column cards grid"></div>

{% endblock %}
{% block scripts %}
<script id="pop-up-template" type="text/tempate">
    <h5>%name%</h5>
    <p><i class="map marker alternate icon"></i>%address_string%</p>
    <a class="ui positive button" href="%location_link%">{% trans 'Details' %}</a>
</script>

<script id="location-item-template" type="text/template">
<div class="column">
    <a id='card' class="ui fluid card" href="%location_link%">
        <div class="content">
            <img class="ui avatar image" src="%owner_thumbnail%"> %owner_name%
        </div>
        <div class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">{% trans 'Details' %}</div>
                    </div>
                </div>
            </div>
            <img class="thumbnail" src="%location_thumbnail%">
        </div>
        <div class="ui placeholder">
            <div class="square image"></div>
        </div>
        <div class="content">
            <div class="header">%location_name%</div>
            <div class="meta">
                <p><i class="map marker alternate icon"></i> %address_string%</p>
            </div>
        </div>
    </a>
</div>
</script>

<script>
    function create_feed(query, data = null) {
        var feed = "";
        var template = document.getElementById("location-item-template");
        var templateHtml = template.innerHTML;
        $.each(data, function (i, location) {
            feed += templateHtml
                .replace(/%owner_name%/g, location.owner['name'])
                .replace(/%owner_thumbnail%/g, location.owner['thumbnail'])
                .replace(/%location_link%/g, location['location_link'])
                .replace(/%location_thumbnail%/g, location['thumbnail'])
                .replace(/%location_name%/g, location.name)
                .replace(/%address_string%/g, location.address['address_string']);
        });

        remove_loader('#feed-loader');
        $('#location-feed').html(feed);
        $('.thumbnail').on('load', function () {
            $('.placeholder').hide();
        });
        $('.fluid.card .image').dimmer({
            on: 'hover'
        });
    }

    $(document).ready(function () {
        $.get('{% url "api:locations_search" %}', function (data) {
            var popup_template = document.getElementById("pop-up-template").innerHTML;

            $.each(data, function (i, location) {
                var popup = popup_template
                    .replace(/%name%/g, location.name)
                    .replace(/%address_string%/g, location.address.address_string)
                    .replace(/%location_link%/g, location['location_link']);
                L.marker([location.latitude, location.longitude], {
                    bounceOnAdd: true,
                    bounceOnAddOptions: { duration: 500, height: 70 },
                    icon: marker,
                    title: location.name,
                    clickable: true,
                }).bindPopup(popup).addTo(map);

            });
            create_feed('', data);
        });
    });
</script>
{% endblock %}