{% extends 'core/__base.html' %}
{% load i18n %}

{% block content %}
<h1>Set language</h1>
<form class="ui form" action="{% url 'core:set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <p>
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
            {% endfor %}
        </select>
    </p>
    <button class="ui button" type="submit">
        {% trans 'set language' %}
    </button>
</form>
{% endblock %}