{% extends "core/__base.html" %}
{% load i18n %}

{% block content %}
<div class="">
    <h1>Login</h1>
    <div class="section-container">
        <form class="ui form" method="post">
            {% csrf_token %}
            {% include "_form.html" with form=form %}
            <button class="ui positive right labeled icon button" type="submit">
                {% trans 'Login' %}
                <i class="sign-in icon"></i>
            </button>
            <a class="ui primary right labeled icon right floated button" href="{% url 'core:register' %}">
                {% trans 'Register' %}
                <i class="clipboard outline icon"></i>
            </a>
        </form>
    </div>
    <a class="ui grey button" href="{% url 'core:password_reset' %}">
        {% trans 'Forgot password?' %}
    </a>
</div>
{% endblock %}