{% extends "core/__base.html" %}
{% load i18n %}

{% block content %}
{% if validlink %}
<div class="section-container">
    <p>{% trans 'please enter (and confirm) your new password.' %}</p>
    <form class="ui form" action="" method="post">
        {% include '_form.html' with form=form %}
        <button class="ui positive right labeled icon button" type="submit">
            {% trans 'confirm' %}
            <i class="check icon"></i>
        </button>

    </form>
    {% else %}
    <h1>{% trans 'password reset failed' %}</h1>
    <p>{% trans 'the password reset link was invalid, possibly because it has already been used. Please request a new password
        reset.' %}
    </p>
    {% endif %}
</div>
{% endblock %}