{% extends "core/__base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<h1>{% trans 'report a Bug' %}</h1>
<div class="ui segment">
    <p class="">
        <i class="info circle icon"></i>
        {% trans 'use this form to report a bug or any other technical inquiry. Or write to this email: ' %}
        <a href="mailto:incoming+resource-hub-resource-hub-13767519-issue-@incoming.gitlab.com">
            incoming+resource-hub-resource-hub-13767519-issue-@incoming.gitlab.com
        </a>
    </p>
</div>
<form class="ui form" method="POST">
    {% csrf_token %}
    {% include "_form.html" with form=bug_form %}
    <button class="ui positive right labeled icon button" type="submit">
        {% trans 'report' %}
        <i class="bug icon"></i>
    </button>
</form>
{% endblock %}

{% block scripts %}

{% endblock %}