{% extends "core/__base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<h1>{% trans 'terms and conditions' %}</h1>
<div>
    {% blocktrans %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Id porta nibh venenatis cras sed felis eget velit aliquet. Ipsum a arcu cursus vitae congue. In ante
        metus
        dictum at tempor. Porta non pulvinar neque laoreet suspendisse interdum consectetur. Potenti nullam ac tortor
        vitae
        purus faucibus ornare suspendisse. Sodales ut etiam sit amet nisl. Nulla facilisi morbi tempus iaculis urna. Nec
        dui
        nunc mattis enim. Sem fringilla ut morbi tincidunt augue. Egestas erat imperdiet sed euismod nisi porta lorem
        mollis.
    </p>
    <p>
        Ultrices in iaculis nunc sed augue lacus. Faucibus et molestie ac feugiat sed lectus vestibulum mattis. Non
        consectetur a erat nam. Tempus urna et pharetra pharetra massa massa ultricies mi. Imperdiet dui accumsan sit
        amet
        nulla. Suspendisse potenti nullam ac tortor vitae. Augue neque gravida in fermentum et sollicitudin ac orci.
        Urna id
        volutpat lacus laoreet non curabitur gravida arcu. Lacus vel facilisis volutpat est velit egestas dui. Non diam
        phasellus vestibulum lorem sed risus ultricies tristique. Quis vel eros donec ac odio tempor orci. Lacus
        suspendisse
        faucibus interdum posuere lorem ipsum dolor sit.
        {% endblocktrans %}
    </p>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}